@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.conversation {
  &__item {
    display: grid;
    grid-template-columns: 50% 20% 15% 15%;
    padding: 15px 20px;
    border-bottom: 1px solid $grey-6 !important;
    &.pined {
      background-color: #fff9ec;
      border-left: solid 4px $yellow;
      div {
        &:first-child {
          margin-left: 0;
        }
      }
      svg {
        margin-left: 10px;
        fill: #f03d3d;
        path,
        g {
          fill: #f03d3d;
        }
      }
    }
    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 13px;
      color: $black-3;
      font-weight: 500;
    }
    div {
      &:not(:first-child) {
        padding-left: 10px;
      }
      &:first-child {
        margin-left: 4px;
        div {
          display: none;
        }
      }
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 80% 20%;
      div {
        &:not(:first-child) {
          display: none;
        }
        &:first-child {
          div {
            display: block;
            padding-left: 0 !important;
            padding-top: 5px;
            a {
              color: $blue-1 !important;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
        &:nth-child(3) {
          display: flex !important;
          align-items: flex-start;
          justify-content: flex-end;
        }
      }
    }
  }
}
