@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.btn {
  border: solid 1px;
  border-radius: 5px;
  display: inline-block;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  &.transparent {
    background-color: transparent;
  }
  &.float-right {
    float: right;
    width: 129px;
  }
  &.center {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    &-2 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  .loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 2s linear infinite;
    margin-right: 5px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &.w-87 {
    min-width: 87px;
  }
  @include transition(0.5s);
  &-1 {
    border-color: $grey-1;
    color: $blue-1 !important;
    &:hover {
      background: $blue-1;
      border-color: $blue-1;
      color: $white !important;
    }
  }
  &-2 {
    background: $blue-1;
    border-color: $blue-1;
    color: $white !important;
    &:hover,
    &:focus {
      background: $blue-2;
      border-color: $blue-2;
    }
  }
  &-3 {
    border-color: $grey-1;
    color: $black-2 !important;
    &:hover {
      background: $blue-1;
      border-color: $blue-1;
      color: $white !important;
    }
  }
  &-4 {
    border-color: transparent;
    color: $black-2 !important;
  }
  &-5 {
    border-color: transparent;
    background-color: transparent !important;
    color: $black-3 !important;
  }
  &-6 {
    border-color: $blue-1;
    background-color: transparent;
    color: $blue-1;
    &:hover {
      background-color: $blue-1;
      color: $white;
    }
  }
  &-block {
    display: block;
    width: 100%;
  }
  &-w100 {
    width: 100%;
  }
  &-flex {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
  }
  &-back {
    color: $grey-1;
    font-size: 24px;
  }
  &-green {
    background: $green-1;
    border: none;
    &:hover {
      color: $white;
      background: $green-3;
    }
  }
  &-add-project {
    background-color: $blue-4;
    padding: 0 15px;
    line-height: 1;
    border: none !important;
    position: relative;
    &:hover {
      color: $white;
      background-color: $blue-7;
    }
    &.has-arrow {
      padding-right: 50px;
      > span {
        position: absolute;
        width: 30px;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $blue-8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        i {
          font-size: 16px;
        }
        .fa-angle-up {
          display: none;
        }
      }
      &.active {
        > span {
          .fa-angle-up {
            display: block;
          }
          .fa-angle-down {
            display: none;
          }
        }
      }
      + .dropdown-content {
        min-width: 0;
        left: 0;
      }
    }
  }
  &-default {
    background: $grey-9;
    color: $black-3;
  }

  // FILTER BUTTON
  &-h-32 {
    height: 32px;
    min-height: 0;
  }
  &-filter {
    font-size: 13px;
    color: $black-3;
    border: 1px solid $blue-1;
    padding: 0 15px;
    font-weight: normal;
    background-color: $white;
    position: relative;
    @include breakpoint(desktop) {
      &:hover {
        color: $black-3;
        border: 1px solid $black-3 !important;
      }
    }
    .filter-num {
      width: 20px;
      height: 20px;
      color: $white;
      background-color: $blue-1;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -10px;
      font-size: 10px;
      line-height: 20px;
    }
    i {
      font-size: 16px;
    }
    &.active {
      border: 1px solid $blue-1 !important;
      i {
        color: $blue-1 !important;
      }
    }
    &.applied {
      color: $blue-1 !important;
      background-color: $blue-5;
      border: 1px solid $blue-1 !important;
      i {
        color: $blue-1 !important;
      }
    }
  }
  &-soft {
    @extend .btn-filter;
  }
  &-file {
    border: 1px dashed $blue-1;
    color: $blue-1;
    font-size: 13px;
    font-weight: normal;
    background: transparent;
    padding: 0 10px;
    width: 143px;
    display: block;
  }
  &-task-status {
    font-size: 13px;
    display: flex;
    padding-right: 30px;
    position: relative;
    border: 1px solid $grey-6;
    @include transitions(none);
    &.white {
      &:hover {
        color: $white;
      }
    }
    &:not(.white) {
      color: $black-3;
      &:hover {
        color: $black-3;
        border: 1px solid $black-3;
      }
      &.active {
        border: 1px solid $grey-6;
        background-color: $grey-6;
        color: $black-3;
      }
    }
    .fa-angle-down {
      position: absolute;
      right: 10px;
      top: 50%;
      @include transform(translateY(-50%));
      font-size: 20px;
    }
  }
}

.add {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 191, 255, 1);
  &.blue {
    background: -moz-linear-gradient(
      left,
      rgba(0, 191, 255, 1) 0%,
      rgba(38, 99, 255, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(0, 191, 255, 1)),
      color-stop(100%, rgba(38, 99, 255, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(0, 191, 255, 1) 0%,
      rgba(38, 99, 255, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(0, 191, 255, 1) 0%,
      rgba(38, 99, 255, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(0, 191, 255, 1) 0%,
      rgba(38, 99, 255, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(0, 191, 255, 1) 0%,
      rgba(38, 99, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#2663ff', GradientType=1 );
  }
  &.orange {
    background: rgba(255, 184, 19, 1);
    background: -moz-linear-gradient(
      left,
      rgba(255, 184, 19, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 184, 19, 1)),
      color-stop(100%, rgba(255, 102, 0, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 184, 19, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 184, 19, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(255, 184, 19, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 184, 19, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb813', endColorstr='#ff6600', GradientType=1 );
  }
  i {
    color: $white !important;
    font-size: 16px !important;
    margin-right: 0;
    width: auto;
  }
}
.add-member {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed $grey-7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  i {
    color: $blue-1;
    font-size: 20px;
  }
}
