.attach {
  max-width: 235px !important;
  padding: 7px 10px;
  .text-over,
  .progress-bar {
    margin-left: 8px;
  }
}
.attach-wrapper-progress {
  max-width: 80%;
  .text-over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
