@import "assets/styles/common/_mixin";
@import "assets/styles/common/_variables";

.login-wrap {
  @media (min-width: 768px) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 150px);
  }
  .login-form {
    background: $white;
    padding: 15px 0;
    width: 100%;
    .logo {
      width: 125px;
    }
    .title-1 {
      color: $black-2;
      letter-spacing: -0.2px;
    }
    .intro {
      p {
        font-size: 13px;
        color: $black-2;
      }
    }
    @media (min-width: 475px) {
      width: 420px;
    }
    @media (min-width: 768px) {
      border-radius: 5px;
      box-shadow: 0 0 26px 0 rgba(10, 31, 68, 0.06);
      padding: 35px;
      width: 490px;
    }
    @media (min-width: 992px) {
      padding: 70px 35px;
    }
    @media (max-width: 767px) {
      .logo {
        width: 60px;
      }
    }
    label {
      display: block;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    .lb-wrap {
      padding-right: 150px;
      position: relative;
      .forgot {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .or {
      color: $grey-1;
      font-size: 12px;
    }
    .btn-1 {
      @include centeritem;
      img {
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        vertical-align: bottom;
      }
    }
  }
}
