@import "assets/styles/common/_variables";

.ico-input {
  position: relative;
  .txt-input {
    padding-right: 50px;
  }
  .icon {
    background: none;
    border: none;
    color: #b5b8c0;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 30px;
    z-index: 3;
    &:hover {
      color: $blue-1;
    }
  }
}
