@import "assets/styles/common/_variables";

.mw-richtext {
  min-height: 190px;
  margin: 8px 0 0;
  padding: 10px 3.6px 3.3px 8px;
  border-radius: 5px;
  border: solid 1px #c7cad1;
  background-color: $white;
  position: relative;
  cursor: text;
  .notranslate.public-DraftEditor-content {
    min-height: 190px;
  }
  &.focused {
    border-color: $blue-2 !important;
  }
  &.isError {
    border-color: $red !important;
  }
  &:hover {
    border-color: $black-3;
  }
  &__footer {
    width: calc(100% - 2px);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 1px;
    z-index: 99;
    border: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    &--left {
      position: relative;
      padding-right: 19px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px;
        height: 16px;
        transform: translateY(-50%);
        background-color: $grey-7;
      }
    }
    &--right {
      padding-left: 20px;
    }
    &--icon {
      border: 0 !important;
      margin-right: 13px;
      cursor: pointer;
      color: $grey-7;
      font-size: 13px;
      font-weight: 600;
      .emoji-picker {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .emoji-mart-search,
      .emoji-mart-category-label,
      .emoji-mart-bar {
        display: none;
      }
      .emoji-mart.emoji-mart-light {
        position: absolute;
        left: -2rem;
        bottom: 1.5rem;
        transform: translateX(40%);
      }
      &.active {
        color: $black-3;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &--popup {
      bottom: 35px;
    }
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
  margin: 0 !important;
}

.rdw-custom-wrapper {
  margin-left: 8px;
}
.rdw-option-wrapper {
  border: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.rdw-list-wrapper {
  margin-bottom: 0 !important;
  position: relative;
  padding-right: 19px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 16px;
    transform: translateY(-50%);
    background-color: $grey-7;
  }
}
.rdw-editor-toolbar {
  display: flex;
  align-items: center;
}
.rdw-inline-wrapper,
.rdw-emoji-wrapper {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0 !important;
}
.rdw-emoji-modal {
  transform: translateY(calc(-100% - 35px));
  top: 35px !important;
}
