@import "assets/styles/common/_variables";

.note {
  color: $grey-3;
  padding: 25px 0;
  text-align: right;
  .btn-1 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.29;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
