@import "assets/styles/common/_variables";

.active-page {
  font-size: 12px;
  height: 100vh;
  padding: 0 30px;
  .copyright {
    color: $grey-1;
    font-size: 12px;
    padding: 15px;
    text-align: center;
  }
  @media (min-width: 768px) {
    background: $grey-2;
  }
  @media (max-width: 425px) {
    padding: 0 15px;
  }
}
