@import "assets/styles/common/_variables.scss";

.task-calender {
  padding: 8px;
  border: 3px;
  overflow: hidden;
  border-left: 3px solid;
  cursor: pointer;
  text-align: left;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(10, 31, 68, 0.12);
  margin: 0 7px;
  width: calc(100% - 14px);
  margin-bottom: 5px;
  span {
    font-size: 13px;
    color: #0a1f44;
    margin-left: 5px;
    line-height: 1.38;
    margin-bottom: 2px;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
  }
  h4 {
    margin: 0;
    line-height: 1.45;
    margin-left: 5px;
    font-size: 11px;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
  }
  &.project {
    display: flex;
  }
}
.fc-daygrid-dot-event {
  &:hover {
    background: transparent;
  }
}
.fc-daygrid-event-harness.fc-daygrid-event-harness-abs {
  width: 100%;
}
.fc-daygrid-day-events {
  padding-bottom: auto !important;
}

.fc-scroller.fc-scroller-liquid-absolute::-webkit-scrollbar,
.fc .fc-scroller::-webkit-scrollbar {
  display: none !important;
}

.project-calendar {
  margin: 9px;
  margin-top: 0;
  padding: 0 10px;
  span {
    color: #0a1f44;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 2px;
  }
  img {
    margin-right: 3px;
  }
  .circle-bl.w-20 {
    font-size: 11px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-bottom: 0;
  }
}
.fc-add-task {
  color: $blue-1;
  font-size: 13px;
  line-height: 1.38;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  i {
    margin-right: 10px !important;
    font-size: 13px;
  }
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  &:hover {
    .fc-add-task {
      visibility: visible;
    }
  }
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner
  .fc-daygrid-day-events:empty
  + .fc-daygrid-day-bg {
  top: 50%;
  transform: translateY(-25%);
}

.fc-media-screen .fc-timegrid-event {
  height: 50px;
}
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror {
  box-shadow: none;
}
