@import "assets/styles/common/_variables.scss";

.toast {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  align-items: center;
  background-color: #202124;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  margin: 24px;
  max-width: 640px;
  min-height: 52px;
  padding: 8px 24px;
  padding-right: 52px;
  position: fixed;
  text-align: left;
  white-space: normal;
  z-index: 999999;

  &.success {
    background-color: #18bfff;
    .toast__action {
      color: #fff;
    }
  }
  &.error {
    background-color: $red;
    .toast__action {
      color: #fff;
    }
  }

  &.left {
    left: 0;
    &-bottom {
      left: 0;
      bottom: 0;
    }
    &-top {
      left: 0;
      top: 0;
    }
  }

  &.right {
    &-bottom {
      right: 0;
      bottom: 0;
    }
    &-top {
      right: 0;
      top: 0;
    }
  }
  &__content {
    margin: 10px 0;
    margin-right: 24px;
  }
  &__action {
    color: #8ab4f8;
    cursor: pointer;
    span {
      position: relative;
      &:hover {
        opacity: 0.12;
        outline: 1px solid transparent;
        transform: scale(1);
        opacity: 0.3;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        position: absolute;
        transition-duration: 0.15s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: #8ab4f8;
        border-radius: 4px;
        transform: scale(0);
        transition-property: transform, opacity;
      }
    }
  }
  &__close {
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    right: 16px;
    height: 100%;
  }
}
