@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.milestone {
  @media screen and (min-width: 767px) {
    .progress-bar {
      background-image: none !important;
    }
  }
  &-head {
    .progress {
      max-width: 280px;
    }
    @media (max-width: 980px) {
      > .row {
        > div {
          flex-flow: column;
          align-items: flex-start;
          flex-wrap: wrap;
          @include breakpoint(mobile) {
            background-color: $blue-1;
            max-width: 100%;
          }
          > div {
            &:last-child {
              width: 100%;
              margin-top: 20px;
              justify-content: space-between;
              position: relative;
              @include breakpoint(mobile) {
                margin-top: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                .dropdown {
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  z-index: 2;
                  @include transform(translateY(-50%));
                  .dropbtn {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .modal {
    &-content {
      width: 600px !important;
    }
  }
}

.progress-work-2 {
  position: relative;
  width: 202px !important;
  height: 200.7px !important;
  &__labels {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--total {
      margin-bottom: 0 !important;
      color: $black-2;
      font-size: 40px;
    }
    &--name {
      color: $grey-7;
      font-size: 13px;
      margin-top: -0.75rem;
    }
    &::after {
      content: "";
      position: absolute;
      left: calc(50% + 1.17px);
      top: calc(50% + -1.17px);
      transform: translate(-50%, -50%);
      width: calc(70% - 5px);
      height: calc(70% - 5px);
      z-index: 999;
      background-color: transparent;
      border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.3);
    }
  }
}
.progress-status-2 {
  @media screen and (max-width: 400px) {
    flex-direction: column-reverse;
    .details {
      width: 100%;
    }
  }
}
