@import "assets/styles/common/_variables";

.offline-notice {
  display: inline-block;
  background-color: $red-3;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  color: $white;
  padding: 5px 10px;
  border-radius: 2px;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 20px 0 rgba(10, 31, 68, 0.1),
    0 0 2px 0 rgba(10, 31, 68, 0.15);
  i {
    margin-right: 10px;
  }
}
