@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.project-list.milestone .head-white .dropdown-content {
  min-width: 230px;
}

.project-detail {
  .mobile-convers-head {
    padding: 15px;
    background: #fff;
    margin-bottom: 0 !important;
    .convers__more {
      display: block;
      text-align: center;
    }
  }
  .wrapper-emoji {
    position: relative;
    bottom: 15px;
    transform: translateY(10%);
    left: 0 !important ;
    top: -5px;

    .emoji-mart-category-label,
    .emoji-mart-search {
      display: none;
    }
    .emoji-mart-emoji {
      span {
        cursor: pointer;
      }
    }
    .emoji-mart {
      z-index: 99999;
      position: absolute;
      top: 0;
      transform: translate(-10%, -105%);
      left: 0;
      @media screen and (max-width: 920px) {
        transform: translate(-30%, -105%);
      }
      @media screen and (max-width: 767px) {
        transform: translate(0%, -105%);
      }
    }
    .emoji-mart-bar {
      display: none !important;
    }
  }
  .filter-item {
    &.mb-0 {
      margin-bottom: 0 !important;
    }
  }
  .static {
    position: static !important;
    transform: none !important;
  }
  &-head {
    @media (max-width: 980px) {
      > .row {
        > div {
          flex-flow: column;
          align-items: flex-start;
          flex-wrap: wrap;

          @include breakpoint(mobile) {
            background-color: $blue-1;
            max-width: 100%;
          }

          .nav-2 {
            width: 100%;

            @include breakpoint(mobile) {
              li {
                a {
                  text-align: center;

                  &:hover {
                    background-color: transparent;
                  }

                  > span {
                    font-size: 11px;
                    background: $white;
                    color: $black-3;
                    padding: 1px 2px;
                    margin-left: 2px;
                    border-radius: 3px;
                  }
                }
              }

              li.dropdown:first-child {
                position: static !important;
                transform: none !important;

                .dropdown-content {
                  top: 45px;
                  left: 15px;
                  max-width: 160px;
                }

                a {
                  padding: 20px 15px;
                }

                .nav-link {
                  color: $black-3;
                  text-align: left;
                }
              }
            }
          }

          > div {
            &:last-child {
              width: 100%;
              margin-top: 20px;
              justify-content: space-between;
              position: relative;

              @include breakpoint(mobile) {
                margin-top: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.5);

                .dropdown {
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  z-index: 2;

                  @include transform(translateY(-50%));

                  .dropbtn {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .head-white {
    .dropdown-content {
      width: 230px;
    }
  }

  .nav-project-detail {
    position: absolute;
    top: -56px;
    right: 0;

    @include breakpoint(mobile) {
      position: static;
      justify-content: flex-end;

      li {
        a {
          span {
            display: block;
          }
        }
      }
    }
  }

  .checkbox {
    label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 2px;
      padding-right: 15px;
      max-width: 100%;
    }
  }

  .white-box {
    border-radius: 0;
  }

  .empty {
    @include breakpoint(tablet) {
      height: calc(100vh - 341px);
    }

    > .d-flex {
      height: 100%;
    }

    @include breakpoint(mobile) {
      img {
        width: 70px;
      }
    }
  }

  @include breakpoint(mobile) {
    background-color: $white;

    .project-name {
      width: 70%;

      @media (max-width: 520px) {
        width: 65%;
      }

      p {
        width: 90%;

        @include text-ellipsis;
      }
    }

    @media (max-width: 520px) {
      .btn-add-project.has-arrow {
        padding: 0px 35px 0px 10px;

        span {
          width: 28px;
        }
      }
    }

    &.list {
      padding-top: 55px !important;
    }

    .tabs {
      ul {
        list-style: none;

        .tabs-item {
          display: block;
          width: auto;
          padding: 10px;

          a {
            color: inherit;
          }

          &.active {
            font-weight: bold;
            background-color: $white;
            border-bottom: 2px solid $blue-1;
          }
        }
      }
    }

    .white-box {
      box-shadow: none;
      margin-top: 0px !important;

      .add-new-abs {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      .search {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 15px;
        background-color: $white;
        z-index: 1;

        > .d-flex {
          height: 100%;
        }

        form {
          position: relative;

          > i {
            left: 0;
            margin-top: -1px;
          }

          input {
            width: 100%;
            box-shadow: none;
            background-color: $white;
            height: 32px;
            border: none !important;
            padding-left: 30px;
          }
        }
      }
    }

    .progress-bar {
      width: 100%;
      min-width: 100px;
      height: 6px;
      border-radius: 4px;
      background-image: none;

      &.--green {
        background: #e1e4e8;

        span {
          background-color: #06d49a;
          position: static;
          border-radius: 0;
          display: block;
          height: 6px !important;
          transform: none;
          border-radius: 4px;
        }
      }
    }
  }

  @include breakpoint(tablet) {
    #add-section {
      .modal-content {
        width: 400px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 850px) {
    .white-box {
      .search {
        form {
          input {
            width: 250px !important;
          }
        }
      }
    }
  }

  .add-job {
    &-toggle {
      cursor: pointer;
    }

    &-field {
      display: none;
    }
  }

  &.list {
    @include breakpoint(mw900) {
      .row {
        &.item {
          padding: 15px 0 !important;
          align-items: flex-start;

          > div {
            &:first-child {
              order: 1;
              flex: 1 0;
              flex: 0 0 90%;
              max-width: 90%;

              // .tags{
              //     display: none !important;
              // }
            }

            &:last-child {
              order: 2;
              flex: 0 0 10%;
              max-width: 10%;
              padding-left: 0;
              padding-right: 10px;
            }

            &:nth-child(2) {
              order: 5;
              flex: 0 0 50%;
              max-width: 50%;
              padding-top: 10px;
            }

            &:nth-child(3) {
              order: 6;
              padding-top: 10px;
              flex: 0 0 50%;
              max-width: 50%;

              > div {
                justify-content: flex-end;
              }
            }

            &:nth-child(4) {
              order: 3;
              justify-content: flex-start;
              padding-left: 15px;
              padding-top: 10px;
              flex: 0 0 50%;
              max-width: 50%;

              span {
                display: flex;
                align-items: center;

                &:nth-child(2),
                &:nth-child(4) {
                  display: none;
                }

                i {
                  color: $grey-7 !important;
                }
              }
            }

            &:nth-child(5) {
              order: 4;
              flex: 0 0 50%;
              max-width: 50%;
              padding-top: 10px;
              justify-content: flex-end;
            }
          }

          &.has-member {
            > div {
              &:nth-child(2) {
                flex: 0 0 20%;
                max-width: 20%;

                span {
                  &:last-child {
                    display: none;
                  }
                }
              }

              &:nth-child(3) {
                justify-content: space-between;
                flex: 0 0 80%;
                max-width: 80%;

                > .d-flex {
                  &:first-child {
                    margin-right: 0 !important;
                    margin-left: 15px !important;

                    a {
                      &:first-child {
                        display: none;
                      }
                    }
                  }

                  &:last-child {
                    flex-flow: row-reverse;
                    justify-content: flex-start;

                    .tags-date {
                      margin-right: 0 !important;
                      margin-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.add-job {
        padding: 15px !important;
      }
    }

    .row {
      flex-wrap: wrap;
    }
  }

  &.column {
    .w-40 {
      min-width: 40px;
      max-width: 40px;
    }

    .w-115 {
      min-width: 115px;
      max-width: 115px;

      @include breakpoint(mobile) {
        min-width: 150px;
        max-width: 150px;
      }
    }

    .w-125 {
      min-width: 125px;
      max-width: 125px;
    }

    .w-150 {
      min-width: 150px;
      max-width: 150px;
    }

    .w-168 {
      min-width: 168px;
      max-width: 168px;
    }

    .w-210 {
      min-width: 210px;
      max-width: 210px;
    }

    .accordion {
      .panel {
        .task-column {
          width: 100%;
          overflow-x: auto;
          overflow-y: hidden;

          .task-item {
            height: 58px;

            > .d-flex {
              > div {
                &:first-child {
                  overflow: hidden;

                  @media (max-width: 1240px) {
                    min-width: 30%;
                    max-width: 30%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .task-column {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      &.isFirst {
        .border-top-grey-6 {
          border-top: 0 !important;
        }
      }

      .task-item {
        display: flex;
        height: 58px;

        > .d-flex {
          > div {
            &:first-child {
              overflow: hidden;

              @media (max-width: 1240px) {
                min-width: 30%;
                max-width: 30%;
              }
            }
          }
        }
      }
    }
  }

  &.board {
    .member {
      padding-right: 25px;

      img {
        height: 30px;
        cursor: pointer;
      }

      .relative {
        .hv-x {
          width: 14px;
          height: 14px;
          border: solid 1px $white;
          background-color: $black-3;
          right: -3px;
          top: -3px;
          visibility: hidden;

          i {
            color: $white;
            font-size: 9px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 48%;
          }
        }

        &:hover {
          .hv-x {
            visibility: visible;
          }
        }
      }

      .mb-add {
        width: 30px;
        height: 30px;
        border: dashed 1px #b3b7c3;
        position: relative;
        cursor: pointer;

        i {
          color: #0b66c8;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }

      .circle-bl {
        width: 30px;
        height: 30px;
      }
    }

    .parent-group {
      overflow-x: auto;

      .group {
        width: 274px;
        min-width: 274px;
        padding-top: 93px;

        margin-right: 15px;

        & + .group {
          margin-left: 15px;
        }

        .job-fixed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;

          .title {
            b {
              @include text-ellipsis;

              width: 80%;
            }

            span {
              padding: 2px;
              width: 23px;
            }
          }

          .add-job {
            span.add-job-toggle {
              height: 32px;
              line-height: 32px;
            }

            div.add-job-toggle {
              span {
                width: 40px;
                height: 40px;

                i {
                  top: 50%;
                  left: 50%;

                  @include transform(translate(-50%, -50%));
                }
              }
            }
          }
        }

        .job-sroll {
          max-height: 600px;

          @include breakpoint(mobile) {
            overflow-y: auto;
          }

          &.scroll::-webkit-scrollbar-track {
            background-color: $grey-2;
          }

          .b-job {
            background: $white;
            color: $black-3;
            max-width: 244px;
            width: 244px;

            // -webkit-box-shadow: 0 1px 5px 0 rgba(10, 31, 68, 0.08);
            // -moz-box-shadow: 0 1px 5px 0 rgba(10, 31, 68, 0.08);
            // box-shadow: 0 1px 5px 0 rgba(10, 31, 68, 0.08);

            &:hover {
              background: $grey-10;
            }

            &-attach {
              img {
                max-height: 250px;
              }
            }

            &-title {
              span {
                color: $black-3;
                max-width: 85%;
              }

              .checkbox-absolute {
                position: absolute;
                top: 2px;
                right: 0px;

                .checkbox {
                  label {
                    padding-bottom: 0;
                    padding-left: 0;

                    &::before {
                      width: 15px;
                      height: 15px;
                    }

                    &::after {
                      width: 15px;
                      height: 15px;
                      line-height: 15px;
                    }
                  }
                }
              }
            }

            &-status {
              color: $white;
              padding: 3px 0px;
              width: 120px;
            }

            .d-flex.absolute {
              bottom: 15px;
              right: 10px;
            }
          }
        }
      }
    }

    .dropdown-work {
      .nav-item {
        margin-right: 0px;

        .nav-link {
          i {
            vertical-align: bottom;
          }
        }
      }
    }
  }

  &.drive {
    @include breakpoint(mobile) {
      background: $grey-2;
      padding-bottom: 60px;

      .box-search {
        top: 10px;

        .search {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          input {
            width: 100%;
          }
        }
      }

      .white-box {
        > div:nth-child(2) {
          margin-top: -1px;
        }

        .border-none {
          border: none !important;
        }

        .soft-drive {
          .dropbtn:hover {
            color: inherit;
          }

          .dropdown-content {
            min-width: 150px;
          }
        }

        .drive-list {
          &.rows {
            height: auto !important;
          }
        }
      }
    }

    .drive-search.has-arrow {
      a.dropbtn {
        position: absolute;
        right: 8px;
        top: -7px;

        .fa-angle-up {
          display: none;
        }

        &.active {
          .fa-angle-down {
            display: none;
          }

          .fa-angle-up {
            display: block;
          }
        }
      }
    }

    .search-dropdown {
      .dropdown-content {
        top: 16px;
        width: 280px;

        .checkbox label {
          vertical-align: top;
          padding-left: 25px;

          &::before,
          &::after {
            width: 15px;
            height: 15px;
            line-height: 15px;
            top: 1px;
          }
        }
      }
    }

    .dropdown-content {
      &.show {
        .red {
          color: $red !important;
          i {
            color: $red !important;
          }
        }
      }
    }

    .drive-list {
      > div:first-child {
        min-width: 45%;
        max-width: 45%;

        @include breakpoint(mobile) {
          width: 90%;
          max-width: 90%;

          > div:first-child {
            width: 90%;
          }
        }
      }

      > div:nth-child(2) {
        width: 21%;
      }

      > div:nth-child(3) {
        width: 160px;
      }

      > div:nth-child(4) {
        width: 160px;
      }

      > div:last-child {
        width: 40px;

        .fa-ellipsis-v {
          visibility: hidden;
        }

        @include breakpoint(mobile) {
          width: 10%;
        }
      }

      &.rows {
        cursor: pointer;
        height: 55px;

        &:hover {
          background-color: $grey-10;

          &:hover {
            .fa-ellipsis-v {
              visibility: visible;
            }
          }

          @include breakpoint(mobile) {
            background: transparent;
          }
        }

        .file-name {
          .folder {
            width: 40px;

            @include breakpoint(mobile) {
              width: 45px;

              @media screen and (max-width: 400px) {
                width: 40px !important;
              }
            }

            img {
              max-width: 25px;
            }
          }

          .text {
            width: 90%;

            .name {
              @include text-ellipsis;
            }

            @media screen and (max-width: 400px) {
              > div {
                font-size: 11px !important;
                flex-wrap: wrap;
              }
            }
          }
        }

        > div:nth-child(2) {
          @include text-ellipsis;
        }

        > div:nth-child(5) {
          .fa-pen:hover {
            color: $blue-2;
          }
        }

        .dropdown {
          .dropdown-content {
            width: 250px;

            i {
              font-size: 16px;
            }

            .nav-item:last-child {
              a,
              i {
                color: $red;
              }
            }
          }
        }
      }
    }
  }

  &.conversation {
    @media (max-width: 980px) {
      > .row {
        > div {
          flex-flow: column;
          align-items: flex-start;
          flex-wrap: wrap;

          @include breakpoint(mobile) {
            background-color: $blue-1;
            max-width: 100%;

            .nav-2 {
              li {
                a {
                  text-align: center;

                  &:hover {
                    background-color: transparent;
                  }

                  > span {
                    font-size: 11px;
                    background: $white;
                    color: $black-3;
                    padding: 1px 2px;
                    margin-left: 2px;
                    border-radius: 3px;
                  }
                }
              }

              li.dropdown:first-child {
                position: static !important;
                transform: none !important;

                .dropdown-content {
                  top: 45px;
                  left: 15px;
                  max-width: 160px;
                }

                a {
                  padding: 20px 15px;
                }

                .nav-link {
                  color: $black-3;
                  text-align: left;
                }
              }
            }
          }

          > div {
            &:last-child {
              width: 100%;
              margin-top: 20px;
              justify-content: space-between;
              position: relative;

              @include breakpoint(mobile) {
                margin-top: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.5);

                .dropdown {
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  z-index: 2;

                  @include transform(translateY(-50%));

                  .dropbtn {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }

    .project-conversation-contents {
      width: calc(100% - 265px);
      border-right-width: 2px !important;

      @media (max-width: 980px) {
        width: calc(100% - 28%);
      }

      .title {
        p {
          @include text-ellipsis;
        }

        .dropdown-content.show {
          z-index: 9;
        }
      }

      .sp-user {
        @media (max-width: 900px) {
          display: flex;
        }
      }

      .avt {
        .avatar {
          width: 45px;
        }

        img {
          height: 30px;
        }

        .name {
          margin-bottom: 3px;
        }
      }

      .member {
        img {
          height: 30px;
          cursor: pointer;
        }

        .relative {
          .hv-x {
            width: 14px;
            height: 14px;
            border: solid 1px $white;
            background-color: $black-3;
            right: -3px;
            top: -3px;
            visibility: hidden;

            i {
              color: $white;
              font-size: 9px;
              position: absolute;
              transform: translate(-50%, -50%);
              left: 50%;
              top: 48%;
            }
          }

          &:hover {
            .hv-x {
              visibility: visible;
            }
          }
        }

        .mb-add {
          width: 30px;
          height: 30px;
          border: dashed 1px #b3b7c3;
          position: relative;
          cursor: pointer;

          i {
            color: #0b66c8;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
          }
        }

        .circle-bl {
          width: 30px;
          height: 30px;
        }
      }

      .descript {
        line-height: 20px;
      }

      .attachment {
        border-bottom-width: 2px !important;

        .attach {
          height: 32px;
          width: 170px;
          cursor: pointer;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);

          span {
            width: 80%;
          }
        }
      }

      .form-comments {
        .box-comment {
          width: calc(100% - 50px);

          & > div:first-child {
            height: 90px;

            textarea {
              border: 0;
              resize: none;
              width: 100%;
              height: 100%;
            }

            span {
              bottom: 8px;

              i {
                font-size: 15px;
              }
            }

            .at {
              left: 10px;
            }

            .smile {
              left: 35px;
            }

            .paperclip {
              left: 60px;
            }

            .click-cmt {
              bottom: 10px;
              right: 10px;
              color: $white;
            }
          }

          .elm-file-attach {
            .attach {
              height: 40px;
              max-width: 300px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);

              & > div {
                width: 80%;
              }

              .attach-close:hover {
                i {
                  color: $grey-7;
                }
              }
            }
          }
        }
      }

      .content-comment {
        line-height: 20px;

        .box {
          cursor: pointer;

          &:hover {
            background-color: $grey-10;
          }

          .dropdown-content {
            .nav-link {
              line-height: 2;
            }
          }
        }

        .conts {
          width: 95%;

          .avatar {
            width: 45px;
          }

          .comment-info {
            width: 95%;

            .info-line {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              word-break: break-word;
            }

            .view-comment:hover {
              color: $blue-13;

              i {
                color: $blue-13;
              }
            }

            a:hover {
              color: $grey-4;
            }
          }
        }

        .pin-top {
          background-color: #fff9ec;
          border-left: solid 4px #ffad0d;

          &:hover {
            background-color: #fff3da;
          }
        }

        .thumbtack {
          svg {
            vertical-align: top;

            g,
            path {
              fill: #f03d3d;
            }
          }
        }

        .nav-item {
          .fa-pen {
            font-size: 17px;
          }

          .fa-trash-alt {
            font-size: 15px;
          }

          .fa-thumbtack {
            font-size: 17px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
      }
    }

    .project-conversation-sidebar {
      width: 265px;

      > div:first-child {
        border-bottom-width: 2px !important;
      }

      .joined {
        border-bottom-width: 2px !important;
        color: $grey-7;

        > a > span:first-child {
          width: 50px;
        }
      }

      @media (max-width: 980px) {
        width: 28%;
      }
    }

    @include breakpoint(mobile) {
      .contents {
        flex-direction: column-reverse;

        .project-conversation-contents {
          width: 100%;
          border: 0;

          .progress-bar {
            width: 100%;
            min-width: 100px;
            height: 4px;
            border-radius: 4px;
            background-image: none;

            &.--green {
              background: $grey-6;

              span {
                background-color: $green-4;
                position: static;
                border-radius: 0;
                display: block;
                height: 4px !important;
                transform: none;
                border-radius: 4px;
              }
            }
          }

          .elm-file-attach {
            .attach {
              max-width: 190px !important;
            }
          }
        }

        .project-conversation-sidebar {
          width: 100%;
          border-bottom: 15px solid $grey-2;

          .join-list {
            max-height: 210px;
            overflow-y: auto;
          }

          .joined {
            &:last-child {
              border: 0 !important;
            }

            .join {
              @include flexwrap;

              align-items: center;
              justify-content: space-between;

              span:first-child {
                max-width: 93%;
              }

              div:nth-child(2) {
                width: 6%;
              }
            }
          }

          .pin-top {
            background-color: #fff9ec;
            border-left: solid 4px #ffad0d;

            .thumbtack {
              svg {
                vertical-align: top;

                g,
                path {
                  fill: #f03d3d;
                }
              }
            }
          }
        }
      }
    }
  }

  #add-folder {
    .modal-content {
      width: 500px;

      @include breakpoint(mobile) {
        width: 90% !important;
        height: auto !important;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));

        .modal-head {
          text-align: left;
        }
      }
    }
  }

  #view-attachment {
    .modal-content {
      width: 100%;
      height: 100%;
      border-radius: 0;
      .btn-close {
        display: none;
      }

      @include breakpoint(mobile) {
        .modal-head {
          background: $blue-1 !important;
          color: $white;

          i {
            color: $white !important;
          }

          > div:first-child {
            width: 85% !important;

            > div:nth-child(2) {
              @include text-ellipsis;
            }
          }

          > div:nth-child(3) {
            span.fa-ellipsis-v {
              color: $white !important;
            }

            .dropdown-content {
              .nav-link {
                &.red {
                  > i {
                    color: $red !important;
                  }
                }
                > i {
                  color: $grey-1 !important;
                }
              }
            }
          }
        }

        .modal-body {
          > div:first-child {
            .view-drive {
              width: 100% !important;

              .attachment {
                align-items: flex-start !important;

                img {
                  max-width: 100% !important;
                }
              }
            }
          }

          .convers-drive {
            height: 50%;
            width: 100%;
            position: absolute;
            bottom: 0;

            > a.dp-block {
              box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.04);
              position: absolute;
              bottom: 0;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }

            .add-job-field {
              height: 100%;

              .convers-drive-scroll {
                overflow-y: auto;
                height: calc(100% - 65px - 40px - 10px);
                padding-top: 0 !important;
                &.full-height {
                  height: calc(100% - 65px - 40px - 10px - 18px);
                }
              }
            }

            .box {
              &:first-child {
                margin-top: 5px !important;
              }
              .conts {
                width: 95%;

                .avatar {
                  width: 45px;
                }

                .comment-info {
                  max-width: 90%;

                  .info-line {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    word-break: break-word;
                  }
                }
              }

              .dropdown {
                width: 5%;
                text-align: right;
              }
            }

            .box-comment {
              position: fixed;
              bottom: 0;
              height: 65px;

              > div.relative {
                height: 100%;

                textarea {
                  border: none;
                  resize: none;
                  height: 40px;
                  padding-right: 85px;
                }

                .absolute {
                  bottom: 5px;

                  i {
                    font-size: 14px;
                  }
                }

                .at {
                  left: 20px;
                }

                .smile {
                  left: 50px;
                }

                .paperclip {
                  left: 80px;
                }

                .click-cmt {
                  right: 20px;
                  top: 50%;

                  @include transform(translateY(-50%));
                }
              }
            }
          }
        }
      }

      .modal-head {
        width: 100%;
        font-weight: normal;
        padding: 12px 25px;
        height: 65px;
        position: fixed;
        top: 0;
        left: 0;
        background: $white;
        z-index: 9;

        i {
          color: $grey-1;
        }

        > div:first-child {
          width: 15%;
          text-align: left;
          cursor: pointer;

          &:hover {
            i {
              color: $grey-7;
            }
          }
        }

        > div:nth-child(2) {
          width: 70%;
        }

        > div:nth-child(3) {
          width: 15%;

          i {
            font-size: 17px;
          }

          a:hover {
            i {
              color: $grey-7;
            }
          }

          .fa-ellipsis-v {
            vertical-align: middle;
            width: 10px;
            color: $grey-1;

            &:hover {
              color: $grey-7;
            }
          }
        }
      }

      .modal-body {
        background-color: #f0f3f8;
        height: 100%;
        padding-top: 65px !important;

        > div:first-child {
          height: 100%;

          .view-drive {
            width: calc(100% - 390px);
            height: 100%;

            @include breakpoint(mw900) {
              width: calc(100% - 40%);
            }

            .attachment {
              height: 100%;

              img {
                max-width: 80%;
                max-height: 100%;
              }
            }
          }

          .convers-drive {
            width: 390px;
            height: calc(100% - 65px);
            background: $white;
            position: fixed;
            right: 0;
            top: 65px;
            z-index: 1;
            border-left: 1px solid $grey-6;
            .convers__more {
              width: 100%;
              display: block;
              padding: 8px;
              text-align: center;
              color: #0b66c8;
              border-bottom: 1px solid #e1e4e8;
            }

            @include breakpoint(mw900) {
              width: 40%;
            }

            .box-chat {
              height: calc(100% - 90px);
              &.full-height {
                height: calc(100% - 90px - 35px);
              }

              .editing {
                &.box-chat-left,
                &.box-chat-right {
                  background-color: #eee;
                }
              }

              .box-chat-left:hover,
              .box-chat-right:hover {
                background-color: #eee;

                .avt {
                  .dropdown {
                    visibility: visible;
                  }
                }
              }

              .box-chat-right {
                .dropdown-content {
                  left: 0;
                }
              }

              .avt {
                width: 45px;

                .dropdown {
                  visibility: hidden;

                  .dropdown-content {
                    min-width: 150px;
                  }
                }
              }

              .conts {
                width: calc(100% - 45px - 45px);

                .cont-child {
                  max-width: 100%;
                  width: inherit;

                  .message {
                    line-height: 1.43;
                  }
                }
              }

              &-right {
                .message {
                  background-color: #e2f7ff;
                }
              }
            }

            .box-comment {
              height: 90px;
              .text-area {
                position: relative;
                .search-close {
                  display: none;
                  position: absolute;
                  right: 0;
                  top: 0;
                  cursor: pointer;
                  color: #98a1b1;
                  &.active {
                    display: block;
                  }
                }
              }

              textarea {
                border: none;
                resize: none;
                width: 100%;
              }

              .absolute {
                bottom: 15px;

                i {
                  font-size: 14px;
                }
              }

              .at {
                left: 20px;
              }

              .smile {
                left: 50px;
              }

              .paperclip {
                left: 80px;
              }

              .click-cmt {
                right: 20px;
                color: $white;
                border: 0;

                &:hover {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }

  &.report {
    color: $black-3;

    @include breakpoint(mw900) {
      & {
        background-color: $grey-2;

        .box-report {
          width: 100% !important;

          &:nth-child(n + 2) {
            margin-top: 25px !important;
          }

          .list-duedate {
            > div:first-child {
              min-width: 60%;
              max-width: 60%;
            }

            > div:last-child {
              width: 20% !important;
            }
          }

          .team-status {
            > div:first-child {
              width: 60% !important;

              @media (max-width: 600px) {
                width: 50% !important;
                flex-wrap: wrap;

                > div:first-child,
                > div:nth-child(2) {
                  width: 100% !important;
                  justify-content: flex-start;
                }

                > div:nth-child(2) {
                  margin-top: 5px;
                }
              }
            }
          }

          .milestone-status {
            > div:first-child {
              min-width: 56%;
              max-width: 56%;

              @media (max-width: 600px) {
                min-width: 50%;
                max-width: 50%;
              }
            }

            > div:last-child {
              width: 17% !important;
            }
          }

          .duedate {
            overflow-y: auto;

            .progress-bar {
              height: 6px !important;
            }
          }

          .fa-expand-arrows,
          .fa-sync-alt {
            visibility: visible !important;
          }
        }
      }
    }

    @media (max-width: 500px) {
      .work-process {
        width: 30% !important;
      }

      .work-status {
        > div {
          font-size: 12px;

          > span:last-child {
            width: 40px !important;
          }
        }

        > div:nth-child(n + 2) {
          margin-top: 6px !important;
        }
      }
    }

    .report-conts {
      @include flexwrap;

      .box-report {
        width: 49%;
        max-height: 300px;

        &:hover {
          .fa-expand-arrows,
          .fa-sync-alt {
            visibility: visible;

            &:hover {
              color: $grey-7;
            }
          }
        }

        .rows {
          height: 100%;

          .duedate {
            height: calc(100% - 82px);
          }
        }

        .fa-expand-arrows,
        .fa-sync-alt {
          visibility: hidden;
        }

        .work-process {
          width: 35%;
        }

        .work-status {
          > div {
            > div {
              > span {
                width: 8px;
                height: 8px;
              }
            }

            > span:last-child {
              width: 100px;
              text-align: right;

              @media (max-width: 980px) {
                width: 50px;
              }
            }
          }
        }

        .inprocess {
          background-color: $blue-12;
        }

        .working {
          background-color: $yellow-2;
        }

        .finish {
          background-color: $green-3;
        }

        .unfinish {
          background-color: $red;
        }

        .regular {
          background-color: #d4ddeb;
        }

        .urgent {
          background-color: #ff3d55;
        }

        .list-duedate {
          &:first-child {
            > div {
              @include text-ellipsis;
            }
          }

          &:last-child {
            border-bottom: solid 1px $grey-6;
          }

          > div:first-child {
            width: 53%;

            @media (min-width: 980px) and (max-width: 980px) {
              width: 50%;
            }

            a {
              color: inherit;
              width: 95%;
              display: inline-block;

              @include text-ellipsis;
            }
          }

          > div:nth-child(2) {
            width: 25%;

            > div {
              img {
                margin-right: 3px;

                @media (max-width: 980px) {
                  &:nth-child(n + 2) {
                    display: none;
                  }
                }
              }
            }
          }

          > div:last-child {
            width: 22%;

            @media (max-width: 980px) {
              width: 25%;
            }

            > span {
              max-width: 100%;
              display: inline-block;

              @include text-ellipsis;
            }
          }
        }

        .team-status {
          @media (max-width: 980px) {
            &:first-child {
              > div {
                @include text-ellipsis;
              }
            }
          }

          &:last-child {
            border-bottom: solid 1px $grey-6;
          }

          > div:first-child {
            width: 57%;

            @media (min-width: 981px) and (max-width: 1024px) {
              width: 55%;
            }

            @media (min-width: 901px) and (max-width: 980px) {
              width: 47%;
              flex-wrap: wrap;

              > div:first-child,
              > div:nth-child(2) {
                width: 100% !important;
                justify-content: flex-start;
              }

              > div:nth-child(2) {
                margin-top: 5px;
              }
            }

            > div:first-child {
              width: 55%;

              @include text-ellipsis;
            }

            > div:nth-child(2) {
              width: 45%;

              .progress-bar {
                min-width: auto;
                width: 100px;
                height: 5px;

                span {
                  height: 5px;
                }
              }
            }
          }

          > div:nth-child(2) {
            width: 13%;

            @media (min-width: 981px) and (max-width: 1024px) {
              width: 14%;
            }

            @media (max-width: 980px) {
              width: 16%;
            }
          }

          > div:nth-child(3) {
            width: 17%;

            @media (min-width: 981px) and (max-width: 1024px) {
              width: 19%;
            }

            @media (max-width: 980px) {
              width: 22%;
            }
          }

          > div:last-child {
            width: 13%;

            @media (max-width: 980px) {
              width: 15%;
            }
          }
        }

        .milestone-status {
          @media (max-width: 980px) {
            &.mile-title {
              > div {
                @include text-ellipsis;
              }
            }
          }

          &:last-child {
            border-bottom: solid 1px $grey-6;
          }

          > div:first-child {
            width: 48%;

            @media (min-width: 901px) and (max-width: 1024px) {
              min-width: 45%;
              max-width: 45%;
            }

            .progress-bar {
              min-width: auto;
              width: 100px;
              height: 5px;

              span {
                height: 5px;
              }
            }
          }

          > div:nth-child(2) {
            width: 17%;

            @media (min-width: 901px) and (max-width: 1024px) {
              width: 20%;
            }

            > div {
              img {
                margin-right: 3px;

                &:nth-child(n + 4) {
                  display: none;
                }

                @media (max-width: 980px) {
                  &:nth-child(n + 2) {
                    display: none;
                  }
                }
              }
            }
          }

          > div:nth-child(3) {
            width: 20%;
          }

          > div:last-child {
            width: auto;

            @media (min-width: 901px) and (max-width: 1024px) {
              width: 15%;
            }

            @include text-ellipsis;
          }
        }
      }
    }
  }

  #project-info.modal {
    .modal-content {
      width: 520px;
      height: 100%;
      border-radius: 0px;
      color: $black-3;
      .progress-bar {
        @for $x from 0 through 100 {
          &.per-#{$x} {
            span {
              width: ($x * 1%) !important;
            }
          }
        }
      }

      .modal-head {
        padding: 15px 30px;
        height: 60px;
        width: 520px;
        position: fixed;
        z-index: 1;

        .fa-thumbtack {
          padding-top: 2px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

        .btn-close {
          right: 30px;
        }
      }

      .modal-body {
        height: calc(100% - 60px);
        position: relative;
        top: 60px;

        > div {
          > .dropdown {
            .btn-global.has-arrow {
              &:hover {
                color: inherit;
              }

              .fa-angle-up {
                display: none;
              }

              &.active {
                .fa-angle-down {
                  display: none;
                }

                .fa-angle-up {
                  display: block;
                }
              }
            }

            .dropdown-content {
              left: 0;
              min-width: 150px;
            }
          }

          .progress-bar {
            height: 8px;
            width: 100%;

            span {
              height: 8px !important;
              text-indent: unset;
            }

            [data-tooltip]::before,
            [data-tooltip]::after {
              left: 90%;
            }
            [data-tooltip]::after {
              left: 99% !important;
            }
          }

          .conts-desc {
            > div {
              > span {
                width: 115px;
              }

              > div {
                img {
                  margin-right: 3px;
                }

                .circle-bl {
                  width: 30px !important;
                  height: 30px !important;
                  line-height: 30px !important;
                }
              }

              .circle-cal {
                width: 30px;
                height: 30px;
                line-height: 30px;
              }

              .color {
                width: 18px;
                height: 18px;
              }
            }

            .description {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 5;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              word-break: break-word;
            }
          }
        }

        .progress-bar {
          height: 8px;

          span {
            height: 8px !important;
            text-indent: unset;
          }

          [data-tooltip]::before,
          [data-tooltip]::after {
            left: 99%;
          }
        }

        .details {
          .work-status {
            > div {
              margin-top: 15px;

              > div {
                width: 160px;

                > span {
                  width: 8px;
                  height: 8px;
                }
              }
            }

            .activated {
              background-color: $blue-13;
            }

            .inprocess {
              background-color: $blue-12;
            }

            .pause {
              background-color: $yellow-2;
            }

            .finished {
              background-color: $green-3;
            }

            .unfinished {
              background-color: $red;
            }
          }
        }

        .progress {
          width: 44%;
        }

        .my-job {
          > div:first-child {
            width: 45%;
            margin-top: 8px !important;

            > span {
              width: 80%;

              @include text-ellipsis;
            }
          }

          > div:last-child {
            width: 55%;
          }
        }
      }

      @include breakpoint(mobile) {
        .modal-head {
          width: 100%;
        }

        .modal-body {
          overflow-y: auto;

          > div:first-child img.w-30,
          .circle-bl,
          .circle-cal {
            width: 24px !important;
            height: 24px !important;
            line-height: 24px !important;
          }

          > div:first-child {
            .progress-bar {
              width: 90%;
            }

            .conts-desc {
              > div:nth-child(2) {
                height: 30px;
              }
            }
          }

          > div {
            border-bottom: solid 10px #f0f3f8 !important;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);

            > div {
              @media (max-width: 480px) {
                img:nth-child(4) {
                  display: none;
                }
              }
            }
          }

          > div:last-child {
            border-bottom: 0px !important;
          }

          > div:nth-child(2) {
            > div {
              align-items: center;
            }
          }

          .details {
            .work-status {
              > div:first-child {
                margin-top: 0px !important;
              }

              > div {
                flex-flow: column;
                margin-top: 10px;

                > div {
                  width: 100%;
                }

                > span {
                  width: 100%;
                  padding-left: 23px;
                }
              }
            }
          }

          .progress {
            width: 50%;
            text-align: right;
          }

          .my-job {
            @include flexwrap;

            > div:first-child {
              width: 100%;
              margin-top: 0px !important;
            }

            > div:last-child {
              width: 100%;
            }
          }
        }
      }

      @media (max-width: 480px) {
        .modal-body {
          > div {
            .progress-bar {
              width: 85% !important;
            }

            .conts-desc {
              .hyphen {
                margin: 0px 5px !important;
              }

              > div {
                > span:first-child {
                  width: 105px;
                  min-width: 105px;
                  max-width: 105px;
                }
              }

              > div:nth-child(3) {
                align-items: flex-start;

                > div {
                  flex-wrap: wrap;
                }
              }
            }
          }

          .details {
            .work-status {
              > div {
                margin-top: 7px;
              }
            }
          }
        }
      }
    }
  }
}

body.fixed-md {
  overflow-y: hidden;
}
.task-board {
  min-width: 240px;
}

#moving-folder {
  .modal-body {
    max-height: 350px;
    min-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 0;
  }
  .modal-head {
    .moving-title {
      i {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.convers-drive.dp-pc-hide.add-job {
  .add-job-field.active {
    &::after {
      content: "";
      background: black;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      transform: translateY(-100%);
      opacity: 0.7;
    }
  }
}
