@import "assets/styles/common/_variables";

.login-page {
  font-size: 12px;
  height: 100vh;
  padding: 0 30px;
  .intro {
    p {
      font-size: 13px;
    }
  }
  .copyright {
    color: $grey-1;
    font-size: 12px;
    padding: 15px;
    text-align: center;
  }
  .lb {
    color: $black-3;
    display: block;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 20px;
    &.mt-15 {
      margin-top: 15px !important;
    }
  }
  @media (min-width: 768px) {
    background: $grey-2;
  }
  @media (max-width: 425px) {
    padding: 0 15px;
  }
}
