@import "assets/styles/common/_variables.scss";
@import "assets/styles/common/_mixin.scss";

.my-task {
  .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    padding: 10px;
  }
  &.list-custom {
    @media screen and (min-width: 1200px) {
      .col-5 {
        flex: 0 0 56%;
        max-width: 56%;
      }
      .col-1 {
        flex: 0 0 5%;
        max-width: 5%;
      }
      .col-2 {
        flex: 0 0 13%;
        max-width: 13%;
      }
    }
  }

  .main-content {
    &::before {
      content: none;
    }
  }
  .checkbox {
    label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 2px;
      padding-right: 15px;
      max-width: 100%;
    }
  }
  .white-box {
    border-radius: 0;
  }
  .empty {
    .mt-30 {
      margin-top: 30px !important;
    }
    @include breakpoint(tablet) {
      height: calc(100vh - 341px);
    }
    > .d-flex {
      height: 100%;
    }
    @include breakpoint(mobile) {
      img {
        width: 70px;
      }
    }
  }
  @include breakpoint(mobile) {
    background-color: $white;
    .white-box {
      box-shadow: none;
      .search {
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -15px;
        right: -15px;
        padding: 0 15px;
        background-color: $white;
        z-index: 1;
        > .d-flex {
          height: 100%;
        }
        form {
          > i {
            left: 0;
            margin-top: -1px;
          }
          input {
            width: 100%;
            box-shadow: none;
            background-color: $white;
            height: 32px;
            border: none !important;
            padding-left: 30px;
          }
        }
      }
    }
  }
  @include breakpoint(tablet) {
    #add-section {
      .modal-content {
        width: 400px;
      }
    }
  }
  .sort-box {
    @include breakpoint(tablet) {
      position: absolute;
      left: 20px;
      bottom: -52px;
    }
  }
  @media (min-width: 768px) and (max-width: 850px) {
    .white-box {
      .search {
        form {
          input {
            width: 250px !important;
          }
        }
      }
    }
  }
  .add-job {
    &-toggle {
      cursor: pointer;
    }
    &-field {
      display: none;
    }
  }

  @include breakpoint(mw900) {
    .tabs-content {
      .row {
        &.task {
          padding: 15px 0 !important;
          align-items: flex-start;
          > div {
            &:first-child {
              order: 1;
              flex: 1 0;
              flex: 0 0 90%;
              max-width: 90%;

              // .tags{
              //     display: none !important;
              // }
            }
            &:last-child {
              order: 2;
              flex: 0 0 10%;
              max-width: 10%;
              padding-left: 0;
              padding-right: 10px;
            }
            &:nth-child(2) {
              order: 5;
              padding-top: 10px;
              flex: 0 0 100%;
              max-width: 100%;
              justify-content: flex-end;
              padding-left: 15px;
              > div {
                width: 100%;
                justify-content: flex-end;
              }
            }
            &:nth-child(3) {
              order: 3;
              justify-content: flex-start;
              padding-left: 15px;
              padding-top: 10px;
              flex: 0 0 50%;
              max-width: 50%;
            }
            &:nth-child(4) {
              order: 4;
              flex: 0 0 50%;
              max-width: 50%;
              padding-top: 10px;
              justify-content: flex-end;
              .dropdown {
                margin-right: 0 !important;
              }
              .tags-date {
                margin-left: 15px !important;
              }
            }
          }
          &.has-member {
            > div {
              &:nth-child(2) {
                flex: 0 0 20%;
                max-width: 20%;
                span {
                  &:last-child {
                    display: none;
                  }
                }
              }
              &:nth-child(3) {
                justify-content: space-between;
                flex: 0 0 80%;
                max-width: 80%;
                > .d-flex {
                  &:first-child {
                    margin-right: 0 !important;
                    margin-left: 15px !important;
                    a {
                      &:first-child {
                        display: none;
                      }
                    }
                  }
                  &:last-child {
                    flex-flow: row-reverse;
                    justify-content: flex-start;
                    .tags-date {
                      margin-right: 0 !important;
                      margin-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        &.following {
          > div {
            &:first-child {
              order: 1;
              flex: 1 0;
              flex: 0 0 90%;
              max-width: 90%;
            }
            &:nth-child(2) {
              order: 5;
              padding-top: 10px;
              flex: 0 0 100%;
              max-width: 100%;
              justify-content: flex-end;
              padding-left: 15px;
              > div {
                justify-content: flex-end;
              }
            }
            &:nth-child(3) {
              order: 3;
              justify-content: flex-start;
              padding-left: 15px;
              padding-top: 10px;
              flex: 0 0 30%;
              max-width: 30%;
            }
            &:nth-child(4) {
              order: 4;
              padding-top: 10px;
              justify-content: space-between;
              flex: 0 0 70%;
              max-width: 70%;
              flex-flow: row-reverse;
              .mr-8 {
                margin-right: 0 !important;
              }
            }
            &:nth-child(5) {
              order: 2;
              flex: 0 0 10%;
              max-width: 10%;
              padding-left: 0;
              padding-right: 10px;
            }
          }
        }
      }
    }

    .accordion {
      .panel {
        > div {
          > .row {
          }
          &.add-job {
            padding: 15px !important;
          }
        }
        .row {
          flex-wrap: wrap;
        }
      }
    }
  }
}
