@import "assets/styles/common/_variables";

.fc-theme-standard td,
.fc-theme-standard th {
  border-color: $grey-6;
}

.fc .fc-col-header-cell-cushion {
  padding: 12px 0;
  color: $grey-7;
  &:hover {
    color: $grey-7;
  }
}

.fc .fc-daygrid-day-number {
  font-size: 15px;
  color: $black-3;
  padding: 11px;
}
td.fc-daygrid-day.fc-day.fc-day-past.fc-day-other a.fc-daygrid-day-number {
  color: $grey-7;
}

td.fc-daygrid-day.fc-day.fc-day-future.fc-day-other a.fc-daygrid-day-number {
  color: $grey-7;
}
.fc .fc-day-other .fc-daygrid-day-top {
  opacity: unset;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  margin-bottom: 0;
  padding: 10px;
  @media screen and(max-width: 992px) {
    flex-wrap: wrap;
    padding: 10px 15px;
    > div {
      flex: 0 0 50%;
      max-width: 50%;
      order: 1;
      justify-content: flex-start;
      &:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
        margin-top: 0.5rem;
        justify-content: center;
      }
      &:nth-child(3) {
        flex: 0 0 50%;
        max-width: 50%;
        order: 2;
        justify-content: flex-end;
      }
    }
  }
}

h2.fc-toolbar-title {
  color: $black-3;
  font-size: 18px !important;
}

button.fc-today-button.fc-button.fc-button-primary {
  background: transparent;
  border-radius: 5px;
  padding: 7px 15px;
  color: $black-3;
  border-color: $grey-6;
  transition: 0.2s all ease-in-out;
  margin-left: 26.5px;
  border-width: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);

  &:hover {
    cursor: pointer;
  }
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    background: $white;
  }
  &.fc-button-active {
    color: $blue-1;
    border-color: $blue-1;
    background-color: transparent;
  }
  @media screen and(max-width: 992px) {
    margin-left: 0 !important;
  }
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  margin-top: 0.5rem;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 26.5px;
}

button.fc-filterButton-button.fc-button.fc-button-primary {
  padding: 0;
  background: transparent;
  border: 0;
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background: $white;
  }
}

button.fc-setViewButton-button.fc-button.fc-button-primary {
  padding: 0;
  background: transparent;
  border: 0;

  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background: $white;
  }
}

.fc-toolbar-chunk {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.fc-prev-button.fc-button.fc-button-primary,
button.fc-next-button.fc-button.fc-button-primary {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $grey-7;
  background: transparent;
  border: 1px solid $grey-6;
  border-radius: 3px;
  span {
    vertical-align: middle;
    font-size: 1.5em;
  }
}

button.fc-next-button.fc-button.fc-button-primary {
  margin-left: 26.5px;
}

.fc-toolbar-chunk button {
  &:focus {
    box-shadow: none !important;
  }
}
td.fc-daygrid-day.fc-day.fc-day-tue.fc-day-today {
  min-height: 150px !important;
}
a.fc-daygrid-event.fc-daygrid-block-event.fc-h-event.fc-event.fc-event-start.fc-event-end.fc-event-today,
a.fc-daygrid-event.fc-daygrid-block-event.fc-h-event.fc-event.fc-event-start.fc-event-today,
a.fc-daygrid-event.fc-daygrid-block-event.fc-h-event.fc-event.fc-event-end.fc-event-future {
  border: 0;
  background-color: transparent;
}
.fc-daygrid-body.fc-daygrid-body-unbalanced,
table.fc-scrollgrid-sync-table {
  width: 100% !important;
}
.dropdown {
  &.task-calendar {
    color: $black-3;
  }
  p {
    text-align: left;
  }
  .col {
    text-align: left;
  }
}

table.fc-col-header,
table.fc-scrollgrid-sync-table {
  width: 100% !important;
}
.fc-h-event {
  border: 0 !important;
  background: none !important;
}
.dropdown {
  &.task-calendar {
    color: $black-3;
  }
  p {
    text-align: left;
  }
  .col {
    text-align: left;
  }
}

table.fc-col-header,
table.fc-scrollgrid-sync-table {
  width: 100% !important;
}

.fc-toolbar-chunk {
  &:nth-child(2) {
    margin-left: -126.5px;
    @media screen and(max-width:992px) {
      margin-left: 0;
    }
  }
}

.button-calendar-today {
  border: 1px solid;
}
.fc-toolbar-title {
  margin-left: 26.5px;
}
// .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
//   padding: 0;
//   display: none;
// }
.fc-header-toolbar.fc-toolbar.fc-toolbar-custom.fc-toolbar-ltr.d-flex.justify-space-between {
  padding: 20px;
}
.task-calendar-dropdown {
  @media screen and(max-width:992px) {
    display: none !important;
  }
}
button.fc-today-button.fc-button.fc-button-primary.button-calendar-today {
  @media screen and(max-width:992px) {
    margin-left: 0;
  }
}
.fc .fc-daygrid-day-bottom {
  text-align: right !important;
  padding-right: 10px;
}
.fc .fc-popover-header {
  padding-left: 17px;
  padding-top: 10px;
}
