.task-calender {
  padding: 5px;
  border: 3px;
  overflow: hidden;
  border-left: 3px solid;
  cursor: pointer;
  text-align: left;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(10, 31, 68, 0.12);
  margin: 0 7px;
  width: calc(100% - 14px);
  margin-bottom: 10px;
  span {
    font-size: 13px;
    color: #0a1f44;
    margin-left: 5px;
    line-height: 1.38;
    margin-bottom: 2px;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
  }
  h4 {
    margin: 0;
    line-height: 1.45;
    margin-left: 5px;
    font-size: 11px;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
  }
}
.fc-daygrid-dot-event {
  &:hover {
    background: transparent;
  }
}
.fc-daygrid-event-harness.fc-daygrid-event-harness-abs {
  width: 100%;
}
.fc-daygrid-day-events {
  padding-bottom: auto !important;
}

.fc-scroller.fc-scroller-liquid-absolute::-webkit-scrollbar,
.fc .fc-scroller::-webkit-scrollbar {
  display: none !important;
}
