@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.project-list {
  .project-featured {
    background-color: rgba(255, 173, 13, 0.08);
  }
  @media screen and (max-width: 767px) {
    .progress-bar {
      span {
        background: $white !important;
      }
    }
  }
  #project-info.modal {
    .modal-content {
      width: 520px !important;
      height: 100%;
      border-radius: 0px;
      color: $black-3;
      .modal-head {
        padding: 15px 30px;
        height: 60px;
        width: 520px;
        position: fixed;
        z-index: 1;

        .fa-thumbtack {
          padding-top: 2px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

        .btn-close {
          right: 30px;
        }
      }

      .modal-body {
        height: calc(100% - 60px);
        position: relative;
        top: 60px;

        > div {
          > .dropdown {
            .btn-global.has-arrow {
              &:hover {
                color: inherit;
              }

              .fa-angle-up {
                display: none;
              }

              &.active {
                .fa-angle-down {
                  display: none;
                }

                .fa-angle-up {
                  display: block;
                }
              }
            }

            .dropdown-content {
              left: 0;
              min-width: 150px;
            }
          }

          .progress-bar {
            height: 8px;
            width: 100%;

            span {
              height: 8px !important;
              text-indent: unset;
            }

            [data-tooltip]::before,
            [data-tooltip]::after {
              left: 99%;
            }
          }

          .conts-desc {
            > div {
              > span {
                width: 115px;
              }

              > div {
                img {
                  margin-right: 3px;
                }

                .circle-bl {
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                }
              }

              .circle-cal {
                width: 30px;
                height: 30px;
                line-height: 30px;
              }

              .color {
                width: 18px;
                height: 18px;
              }
            }

            .description {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 5;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              word-break: break-word;
            }
          }
        }

        .progress-bar {
          height: 8px;

          span {
            height: 8px !important;
            text-indent: unset;
          }

          [data-tooltip]::before,
          [data-tooltip]::after {
            left: 99%;
          }
        }

        .details {
          .work-status {
            > div {
              margin-top: 15px;

              > div {
                width: 160px;

                > span {
                  width: 8px;
                  height: 8px;
                }
              }
            }

            .activated {
              background-color: $blue-13;
            }

            .inprocess {
              background-color: $blue-12;
            }

            .pause {
              background-color: $yellow-2;
            }

            .finished {
              background-color: $green-3;
            }

            .unfinished {
              background-color: $red;
            }
          }
        }

        .progress {
          width: 44%;
        }

        .my-job {
          > div:first-child {
            width: 45%;
            margin-top: 8px !important;

            > span {
              width: 80%;

              @include text-ellipsis;
            }
          }

          > div:last-child {
            width: 55%;
          }
        }
      }

      @include breakpoint(mobile) {
        .modal-head {
          width: 100%;
        }

        .modal-body {
          overflow-y: auto;

          > div:first-child img.w-30,
          .circle-bl,
          .circle-cal {
            width: 24px !important;
            height: 24px !important;
            line-height: 24px !important;
          }

          > div:first-child {
            .progress-bar {
              width: 90%;
            }

            .conts-desc {
              > div:nth-child(2) {
                height: 30px;
              }
            }
          }

          > div {
            border-bottom: solid 10px #f0f3f8 !important;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);

            > div {
              @media (max-width: 480px) {
                img:nth-child(4) {
                  display: none;
                }
              }
            }
          }

          > div:last-child {
            border-bottom: 0px !important;
          }

          > div:nth-child(2) {
            > div {
              align-items: center;
            }
          }

          .details {
            .work-status {
              > div:first-child {
                margin-top: 0px !important;
              }

              > div {
                flex-flow: column;
                margin-top: 10px;

                > div {
                  width: 100%;
                }

                > span {
                  width: 100%;
                  padding-left: 23px;
                }
              }
            }
          }

          .progress {
            width: 50%;
            text-align: right;
          }

          .my-job {
            @include flexwrap;

            > div:first-child {
              width: 100%;
              margin-top: 0px !important;
            }

            > div:last-child {
              width: 100%;
            }
          }
        }
      }

      @media (max-width: 480px) {
        .modal-body {
          > div {
            .progress-bar {
              width: 85% !important;
            }

            .conts-desc {
              .hyphen {
                margin: 0px 5px !important;
              }

              > div {
                > span:first-child {
                  width: 105px;
                  min-width: 105px;
                  max-width: 105px;
                }
              }

              > div:nth-child(3) {
                align-items: flex-start;

                > div {
                  flex-wrap: wrap;
                }
              }
            }
          }

          .details {
            .work-status {
              > div {
                margin-top: 7px;
              }
            }
          }
        }
      }
    }
  }
  .empty {
    @include breakpoint(tablet) {
      height: calc(100vh - 230px);
    }
    > .d-flex {
      height: 100%;
    }
    @include breakpoint(mobile) {
      img {
        width: 70px;
      }
    }
  }
  @include breakpoint(mobile) {
    background-color: $white;
    .white-box {
      box-shadow: none;
      .search {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: $white;
        z-index: 1;
        height: 100%;
        @media screen and (max-width: 766px) {
          .d-flex.align-center {
            height: 100%;
            padding: 0 15px;
          }
        }
        form {
          > i {
            left: 0;
            margin-top: -1px;
          }
          input {
            width: 100%;
            box-shadow: none;
            background-color: $white;
            height: 32px;
            border: none !important;
            padding-left: 30px;
          }
        }
      }
    }
  }
  .progress {
    max-width: 200px;
    min-width: 170px;
    @include breakpoint(mobile) {
      max-width: 60px;
      min-width: 0;
    }
    &-bar {
      min-width: 0;
    }
    &-value {
      .dropbtn {
        .fa-angle-up {
          display: none;
        }
        &.active {
          .fa-angle-up {
            display: block;
          }
          .fa-angle-down {
            display: none;
          }
        }
      }
      @include breakpoint(mobile) {
        .dropdown-content {
          right: 0;
          min-width: 0;
          overflow-y: auto !important;
          overflow-x: hidden !important;
          @include scrollbars(0.5em, $grey-7);
          max-height: 100px;
        }
      }
    }
  }
  .sort-box {
    @include breakpoint(tablet) {
      position: absolute;
      right: 0;
      bottom: -73px;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .white-box {
      .search {
        form {
          input {
            width: 250px !important;
          }
        }
      }
    }
    .table {
      display: table;
      &-cell,
      &-head {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .table {
      display: block;
      &-milestone {
        .table-row {
          border-bottom: 1px solid $grey-6;
          margin-bottom: 0;
          padding: 15px 110px 15px 15px;
        }
        .table-cell {
          justify-content: flex-start !important;
          align-items: flex-start !important;
          &:nth-child(2) {
            flex: 0 0 105px;
            order: 2;
          }
          &:nth-child(5) {
            top: 15px;
          }
          &:last-child {
            top: 20px;
          }
          @media (max-width: 414px) {
            &:nth-child(3) {
              .tags-date {
                display: none;
              }
            }
          }
        }
      }
      &-row {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0 110px 0 15px;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-cell {
        border: none;
        display: block;
        &:first-child {
          flex: 0 0 100%;
          order: 1;
          width: 100%;
          p {
            @include text-ellipsis();
            max-width: 100%;
          }
        }
        &:nth-child(2) {
          flex: 0 0 75px;
          order: 2;
        }
        &:nth-child(3) {
          flex: 1 0;
          order: 3;
        }
        &:nth-child(4) {
          flex: 0 0 100%;
          order: 4;
        }
        &:nth-child(5) {
          position: absolute;
          right: 30px;
          top: 0;
          width: 80px;
          @media (max-width: 359px) {
            right: 20px;
          }
          .progress {
            margin: 0 auto;
            &-bar {
              margin: 0 auto;
            }
          }
        }
        &:last-child {
          position: absolute;
          right: 15px;
          top: 0;
          padding: 0;
        }
      }
    }
  }
}
