@import "assets/styles/common/_variables.scss";

.loading {
  background-color: $grey-2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .title-1 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
  }
}
