@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.signup-page {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  z-index: 2;
  .msg-err {
    background-color: rgba(#f03d3d, 0.2);
    font-size: 12px;
    font-weight: normal;
    padding: 10px 15px;
  }
  .rgt-box {
    text-align: center;
  }
  @media (min-width: 768px) {
    &:before {
      background-image: linear-gradient(to bottom, #0b66c8 -34%, #184498);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: -1;
    }
  }
  @media (min-width: 992px) {
    &:before {
      width: 57%;
    }
  }
  .row {
    height: 100%;
  }
  .slider-intro {
    color: $white;
    @media (max-width: 767px) {
      background-image: linear-gradient(to bottom, #0b66c8 -34%, #184498);
    }
    h3 {
      font-size: 20px;
      margin: 20px 0;
    }
    .logo {
      left: 30px;
      position: absolute;
      top: 20px;
      width: 70px;
    }
    .item {
      @include centeritem;
      min-height: calc(100%);
      padding: 100px 30px 50px;
      .inner {
        width: 560px;
        @media (max-width: 767px) {
          width: auto;
        }
      }
      .image {
        border-radius: 10px;
      }
    }
  }
  .content {
    padding: 30px;
    .note {
      padding-bottom: 50px;
      text-align: right;
      padding-top: 0;
      .btn-1 {
        margin-left: 10px;
      }
    }
    .title-1 {
      margin: 0 0 5px;
    }
    @media (max-width: 767px) {
      padding-top: 15px;
      width: 100%;
      .title-1 {
        margin-top: 10px;
      }
      .mb-logo {
        max-width: 50px;
      }
    }
    @media (max-width: 425px) {
      padding: 15px 15px 30px;
    }
    .signup-form {
      @media (min-width: 768px) {
        @include centeritem;
        min-height: calc(100% - 100px);
      }
      .inner {
        max-width: 420px;
        width: 100%;
      }
      .lb {
        color: $black-3;
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 20px;
        &.mt-15 {
          margin-top: 15px !important;
        }
      }

      .btn-1 {
        @include centeritem;
        img {
          display: inline-block;
          margin-right: 5px;
          width: 20px;
          vertical-align: bottom;
        }
      }
      .checkbox {
        label {
          font-size: 12px;
          &:before,
          &:after {
            top: -3px;
          }
        }
      }
    }
  }
}
