.loading-dot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    font-size: 2rem;
    line-height: 0;
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    &.one {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    &.two {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &.three {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }
}

@-webkit-keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
