@import "assets/styles/common/_variables";
@import "assets/styles/common/_mixin";

.dashboard {
  background-color: $grey-2;
  .main-content {
    @include breakpoint(mobile) {
      position: relative;
      &::before {
        content: "";
        height: 160px;
        width: 100%;
        position: absolute;
        top: -1px;
        left: 0;
        background-color: $blue-1;
        z-index: -1;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        @media (max-width: 360px) {
          height: 380px;
          border-bottom-left-radius: 8%;
          border-bottom-right-radius: 8%;
        }
      }
    }
    .fs-55 {
      line-height: 1;
      color: $black-3;
    }
  }
  .wl {
    &-notify {
      text-align: center;
      padding: 0.5rem 0;
    }
    &-name {
      font-size: 24px;
      font-weight: 700;
      @include breakpoint(mobile) {
        color: $white;
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
    &-time {
      font-size: 12px;
      color: $white;
      opacity: 0.6;
    }
    &-right {
      .dropbtn {
        font-size: 25px;
        color: $grey-7;
        background: #fff;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        @include breakpoint(mobile) {
          width: 35px;
          height: 35px;
          font-size: 23px;
          color: $white;
          background: rgba(255, 255, 255, 0.2);
          &.active {
            background: #fff;
            color: $blue-1;
          }
          @include hover-supported() {
            background: #fff;
            color: $blue-1 !important;
          }
        }
        @include breakpoint(tablet) {
          &.active,
          &:hover {
            color: $blue-1;
          }
        }
        i {
          pointer-events: none;
          margin: 0 1px;
        }
      }
      .dropdown-content {
        width: 373px;
        @include breakpoint(mobile) {
          width: 100%;
        }
        .fs-15 {
          font-size: 15px;
        }
        .list-disc {
          li {
            list-style: none;
            color: $grey-7;
            font-size: 13px;
            font-weight: 500;
            padding-left: 20px;
            position: relative;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
            &::before {
              content: "";
              display: block;
              width: 6px;
              height: 6px;
              background: $grey-7;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -3px;
            }
          }
        }
        .ellipsis-group {
          i {
            pointer-events: none;
            &:last-child {
              margin-left: -3px;
            }
          }
        }
        .nav {
          &::after {
            left: 20px;
            right: 20px;
          }
        }
        .btn {
          &-2 {
            width: 130px;
          }
          &-default {
            border: none;
            @include breakpoint(tablet) {
              background: transparent;
            }
            @include breakpoint(mobile) {
              width: 130px;
              vertical-align: top;
            }
          }
        }
      }
    }
  }

  .general-rp {
    @media (max-width: 1024px) {
      .white-box {
        flex-flow: column;
        .text-center-sp {
          text-align: center;
        }
        .single-chart {
          margin-top: 15px;
        }
      }
    }
    @include breakpoint(mobile) {
      .col-4 {
        padding: 0 7.5px;
      }
      .single-chart {
        margin-top: 0 !important;
      }
      .white-box {
        padding: 20px 5px;
        .w-md-100 {
          display: flex;
          flex-flow: column;
          p {
            &:first-child {
              font-size: 13px !important;
            }
            &:last-child {
              font-size: 35px !important;
              margin: 10px 0 5px !important;
            }
          }
        }
      }
    }
    @media (max-width: 360px) {
      .white-box {
        flex-flow: row-reverse;
        padding: 20px 10px;
        .w-md-100 {
          flex-flow: column-reverse;
        }
      }
      .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .icon-left-search {
    font-size: 17px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
