@import "./_variables";
@import "./_mixin";

.accordion {
  &.task-group {
    @media screen and (max-width: 900px) {
      .text-edit {
        padding-left: 0 !important;
      }
      .accordion-toggle {
        padding: 0 !important;
        padding-left: 15px !important;
        .btn.submit {
          margin-left: 0 !important;
        }
      }
      .d-flex.align-center {
        align-items: center !important;
      }
    }
  }
  &-toggle {
    cursor: pointer;
    @include breakpoint(mw900) {
      padding: 15px 10px !important;
    }
    .drag {
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      .drag {
        opacity: 1;
        visibility: visible;
      }
    }
    &.active {
      .accordion-arrow {
        i {
          &:last-child {
            display: block;
          }
          &:first-child {
            display: none;
          }
        }
      }
    }
  }
  &-arrow {
    line-height: 1;
    @include breakpoint(tablet) {
      padding-left: 2.5px;
    }
    i {
      &:last-child {
        display: none;
      }
    }
  }
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    &.show {
      overflow: unset;
    }
    .action-sp {
      display: none !important;
    }
    > .d-flex {
      > .row {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    @include breakpoint(mw900) {
      > .d-flex {
        &.action {
          @include transform(translateX(-243px));
        }
      }
      .action-sp {
        display: flex !important;
        > a {
          width: 81px;
          // height: 81px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          font-weight: normal;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
