/* text align */
@import "./_variables";
@import "./_mixin";

.text {
  &-center {
    text-align: center !important;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
}
@include breakpoint(tablet) {
  .text-pc {
    &-center {
      text-align: center !important;
    }
    &-left {
      text-align: left !important;
    }
    &-right {
      text-align: right !important;
    }
  }
}
@include breakpoint(mobile) {
  .text-sp {
    &-center {
      text-align: center !important;
    }
    &-left {
      text-align: left !important;
    }
    &-right {
      text-align: right !important;
    }
  }
}
.nowrap {
  white-space: nowrap;
}
