// Border color
@each $color, $value in $colors {
  .border-#{$color} {
    border: 1px solid $value !important;
  }

  .border-top-#{$color} {
    border-top: 1px solid $value !important;
  }

  .border-bottom-#{$color} {
    border-bottom: 1px solid $value !important;
  }

  .border-left-#{$color} {
    border-left: 1px solid $value !important;
  }

  .border-right-#{$color} {
    border-right: 1px solid $value !important;
  }

  @include breakpoint(mobile) {
    .border-sp-#{$color} {
      border: 1px solid $value !important;
    }

    .border-top-sp-#{$color} {
      border-top: 1px solid $value !important;
    }

    .border-bottom-sp-#{$color} {
      border-bottom: 1px solid $value !important;
    }

    .border-left-sp-#{$color} {
      border-left: 1px solid $value !important;
    }

    .border-right-sp-#{$color} {
      border-right: 1px solid $value !important;
    }
  }
}

.border-circle {
  border-radius: 50%;
}

.border-rad5 {
  border-radius: 5px;
}

.border-rad3 {
  border-radius: 3px;
}
