@import "./_variables";
@import "./_mixin";

.breadcrumb {
  display: flex;
  align-items: center;
  li {
    list-style: none;
    margin: 0 5px;
    a {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $grey-6;
      border-radius: 3px;
      color: $black-3;
      font-size: 13px;
      @include transition(0.3s);
      &:hover {
        background-color: $grey-2;
      }
      i {
        font-size: 18px;
        color: $grey-7;
      }
      &.active {
        border: 1px solid $blue-1;
        color: $blue-1;
        &:hover {
          background-color: $white;
        }
      }
    }
  }
}
