@import "./_variables";
@import "./_mixin";

/* Checkbox, Radio */
.project-detail.board
  .parent-group
  .group
  .job-sroll
  .b-job-title
  .checkbox-absolute
  .checkbox
  label::before {
  border-color: inherit;
}

.checkbox {
  position: relative;
  .label-after {
    position: absolute;
    display: inline-block;
    left: 0;
    &-after {
      position: absolute;
      top: 0;
      left: 0;
      &::after {
        width: 20px;
        height: 20px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 20px;
        border-radius: 3px;
        background-color: #0b66c8;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: "\f00c";
        display: inline-block;
      }
    }
    &-before {
      width: 20px;
      height: 20px;
      border: 2px solid #b5b8c0;
      border-radius: 3px;
      background-color: #fff;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      &:hover {
        border-width: 2px;
      }
    }
  }

  &.size-12 {
    label {
      &::before,
      &::after {
        width: 12px;
        height: 12px;
        line-height: 12px;
      }
    }
  }
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 32px;
    .line {
      display: block;
      position: absolute;
      border-top: 2px solid $black-3;
      width: calc(100% - 40px);
      left: 30px;
      top: 50%;
      @include transform(translateY(-50%));
    }
    .red-point {
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      height: 14px;
      background-color: #f9d2d2;
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        background-color: $red;
        border-radius: 50%;
      }
    }
    &::after,
    &::before {
      position: absolute;
      display: inline-block;
      left: 0;
    }
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 2px solid $grey-1;
      border-radius: 3px;
      background-color: $white;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      width: 20px;
      height: 20px;
      top: 0;
      font-size: 13px;
      color: $white;
      text-align: center;
      line-height: 20px;
      border-radius: 3px;
    }
    &.none-hover {
      &::before {
        content: none;
      }
    }

    &:hover {
      &.none-hover {
        &::before {
          border: 0;
        }
      }
      &::before {
        border: 2px solid $black-3;
      }
    }
  }
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after,
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after,
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after,
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after,
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after,
input[type="checkbox"] .styled:checked + label::after,
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

// .checkbox input[type=checkbox]:focus+label::before,
// .checkbox input[type=radio]:focus+label::before {
//     outline: dotted thin;
//     outline: -webkit-focus-ring-color auto 5px;
//     outline-offset: -2px
// }

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  background: $blue-1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  content: "\f00c";
}

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}

.checkbox.checkbox-inline,
.radio.radio-inline {
  margin-top: 0;
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after,
.radio label::before {
  background-color: #fff;
}

// .radio {
//     padding-left: 20px
// }

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 25px;
}

.radio label::after,
.radio label::before {
  display: inline-block;
  position: absolute;
  // margin-left: -20px
}

.radio label::before {
  content: "";
  width: 17px;
  height: 17px;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  background-color: #555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio-primary input[type="radio"] + label::after,
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  display: none;
}

.radio input[type="radio"]:focus + label::before {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after,
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-info input[type="radio"] + label::after,
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after,
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after,
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
}
