@import "./_variables";
@import "./_mixin";

.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 20px;
  position: relative;
  > input[type="checkbox"] {
    display: none;
    &:checked {
      + .el-switch-style:before {
        left: 50%;
      }
      + .el-switch-style {
        background-color: $blue-2;
      }
    }
  }
  .el-switch-style {
    height: 20px;
    left: 0;
    background: #c0ccda;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    display: inline-block;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 36px;
    cursor: pointer;
    &:before {
      display: block;
      content: "";
      height: 12px;
      position: absolute;
      width: 12px;
      background-color: #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      left: 5px;
      top: 50%;
      margin-top: -6px;
      @include transition(0.3s);
    }
  }
}
