@import "./_variables";
@import "./_mixin";

// Text color
@each $color, $value in $colors {
  .#{$color} > i {
    color: $value;
  }
  .#{$color} {
    color: $value;
  }
  @include breakpoint(mobile) {
    .sp-#{$color} i {
      color: $value !important;
    }
    .sp-#{$color} {
      color: $value !important;
    }
  }
}

// Background color
@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  }
  @include breakpoint(mobile) {
    .bg-sp-#{$color} {
      background-color: $value !important;
    }
  }
}
.color-choose {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    padding-right: 0;
    cursor: pointer;

    i {
      color: $white;
      font-size: 18px;
      line-height: 1;
      display: none;
    }
    input {
      display: none;
      &:checked {
        + i {
          display: block;
        }
      }
    }
  }
}
