@import "./_variables";
@import "./_mixin";

.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-flow: column;
}
.flex-1-0 {
  flex: 1 0;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-top {
  align-items: flex-start;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.dp-hide {
  display: none !important;
}
.dp-block {
  display: block;
}
.dp-inline-block {
  display: inline-block;
}
.visibility-hide {
  visibility: hidden;
}
@include breakpoint(tablet) {
  .dp-pc-hide {
    display: none !important;
  }
}
@include breakpoint(mobile) {
  .dp-sp-hide {
    display: none !important;
  }
  .d-sp-flex {
    display: flex !important;
  }
  .flex-sp-wrap {
    flex-wrap: wrap;
  }
  .flex-sp-column {
    flex-flow: column;
  }
  .flex-sp-1-0 {
    flex: 1 0;
  }
  .justify-sp-space-between {
    justify-content: space-between;
  }
  .relative-sp {
    position: relative;
  }
}
@include breakpoint(mw900) {
  .dp-900-hide {
    display: none !important;
  }
}
