@import "./_variables";
@import "./_mixin";

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  &.overflow-hidden {
    overflow: hidden;
  }
  &.overflow-unset {
    overflow: unset !important;
  }
  .dropbtn {
    cursor: pointer;
    > * {
      pointer-events: none;
    }
  }
  &-back {
    background-color: $blue-1;
    .btn {
      min-height: 0;
      border: none;
      padding: 0;
      background-color: transparent !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  .dropbtn {
    &.fas,
    &.fal,
    &.far {
      &.active,
      &:hover {
        color: $blue-1;
      }
    }
  }
}
.dropdown-content {
  position: absolute;
  right: 0;
  top: 150%;
  z-index: 9 !important;
  min-width: 200px;
  background-color: $white;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  &.left {
    left: 0;
  }
  &.task-board {
    width: 240px;
  }
  @include transition(0.3s);
  @include breakpoint(mobile) {
    display: none;
  }
  &.no-hidden {
    overflow: visible;
  }
  &.w-auto {
    min-width: auto;
  }

  &.w-100 {
    min-width: 100px;
  }
  &.top {
    top: auto !important;
    bottom: 115%;
  }
  &.left-bottom {
    left: 0;
    right: auto !important;
  }
  @include breakpoint(mobile) {
    &.top-sp {
      top: auto !important;
      bottom: 115%;
    }
    &.w-sp-auto {
      min-width: auto;
    }
    &.w-sp-100 {
      min-width: 100px;
    }
  }
  &.show {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 5px);
    @include breakpoint(mobile) {
      display: block;
    }
  }
  @include breakpoint(mobile) {
    &.sp-full {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .nav {
    position: relative;
    &:last-child {
      &:after {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 0;
      height: 1px;
      background-color: $grey-6;
    }
  }
  .nav-link {
    font-size: 13px;
    padding: 10px 0 10px 5px;
    width: 100%;
    > i {
      font-size: 18px;
    }
    .avatar {
      font-size: 46.35px !important;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
    .unread {
      background: #f3f7ff;
    }
  }
}
@include breakpoint(tablet) {
  .filter {
    .dropdown-content {
      width: 350px;
    }
  }
}

.sort {
  .dropdown-content {
    min-width: 166px;
    left: 0;
    .nav-link {
      @include transition(0.3s);
    }
    &.left-unset {
      left: unset;
    }
  }
}

.dropdown-base {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
}
