@import "./_variables";
@import "./_mixin";

::-webkit-input-placeholder {
  color: $grey-4 !important;
  opacity: 1 !important;
}
:-moz-placeholder {
  color: $grey-4 !important;
  opacity: 1 !important;
}
::-moz-placeholder {
  color: $grey-4 !important;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  color: $grey-4 !important;
  opacity: 1 !important;
}
.txt-input {
  border: $grey-1 solid 1px;
  border-radius: 5px;
  display: block;
  height: 40px;
  padding: 10px;
  width: 100%;
  &:hover {
    border-color: $black-3;
  }
  &:focus {
    border-color: $blue-2;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent !important;
  }
  &:focus:-moz-placeholder {
    color: transparent !important;
  }
  &:focus::-moz-placeholder {
    color: transparent !important;
  }
  &:focus:-ms-input-placeholder {
    color: transparent !important;
  }
  &.h-32 {
    height: 32px;
  }
  &:disabled {
    background-color: #f1f2f4;
    color: $grey-7;
    &:hover {
      border: 1px solid $grey-1;
    }
  }
}
label {
  cursor: pointer;
}
select {
  &.txt-input {
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
}
.select-wrapper {
  position: relative;
  i {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.ico-input {
  position: relative;
  .txt-input {
    padding-right: 50px;
  }
  .icon {
    background: none;
    border: none;
    color: #b5b8c0;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 30px;
    z-index: 3;
    &:hover {
      color: $blue-1;
    }
  }
}
.inp-wrap {
  position: relative;
  width: 100%;
  &.success {
    input {
      border-color: $green-1;
    }
    .fa-check {
      color: $green-1;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 30px;
    }
  }
  &.error {
    input,
    textarea {
      border-color: $red;
    }
  }
}
.msg-error {
  color: $red;
  margin-top: 5px;
  text-align: right;
  &.left {
    text-align: left;
  }
}

.lb {
  &-1 {
    display: block;
  }
}
.submit-box {
  @include breakpoint(mobile) {
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center !important;
    border-top: 1px solid $grey-6;
  }
}

.search {
  color: $grey-1;
  position: relative;
  &:hover {
    i {
      color: $black-1;
    }
  }
  form {
    position: relative;
    input {
      padding: 0 40px;
      height: 32px;
      outline: none;
      width: 280px;
      background: $white;
      font-size: 14px;
      &:focus {
        border: 1px solid $blue-1;
        + .search-close {
          display: block;
        }
      }
    }

    > i {
      font-size: 17px;
      position: absolute;
      left: 10px;
      top: 50%;
      @include transform(translateY(-50%));
    }
    .search-close {
      position: absolute;
      right: 0;
      top: 50%;
      @include transform(translateY(-50%));
      font-size: 20px;
      width: 35px;
      text-align: center;
      display: none;
      cursor: pointer;
      i {
        color: #b3b7c3 !important;
      }
    }

    &.focus {
      input {
        background: $white !important;
      }
      i {
        color: $black-1;
      }
      .search-close {
        display: block;
      }
      + .search-result {
        opacity: 1;
        visibility: visible;
        top: 50px;
      }
    }
  }
  &-result {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow-y: auto;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    @include transition(0.3s);

    @include breakpoint(tablet) {
      min-width: 400px;
      .nav-link {
        padding-left: 15px;
      }
    }
    @include breakpoint(desktop) {
      min-width: 0;
      .nav-link {
        padding-left: 30px;
      }
    }
    .nav-link {
      width: 100%;
      @include breakpoint(tablet) {
        padding-left: 15px;
      }
      @include breakpoint(desktop) {
        padding-left: 30px;
      }
    }
  }
  &-advanced {
    text-align: center;
    padding: 15px;
    i {
      font-size: 17px;
    }
    span {
      font-size: 13px;
    }
  }
}

.date {
  position: relative;
  i {
    position: absolute;
    left: 8px;
    top: 50%;
    z-index: 8;
    @include transform(translateY(-50%));
    font-size: 16px;
    color: $black-3;
  }
  input {
    padding-left: 30px;
  }
}

.form {
  @include breakpoint(mobile) {
    height: 100%;
  }
  &-group {
    .radio,
    .checkbox {
      label {
        font-size: 13px;
      }
    }
    label {
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      padding-right: 10px;
      position: relative;

      &.required {
        &::after {
          content: "*";
          color: $red;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .date {
      .react-datepicker-wrapper {
        width: 100%;
      }
      i {
        font-size: 19px;
        left: 10px;
        z-index: 2;
      }
      input {
        padding-left: 40px;
      }
    }
    textarea {
      height: auto;
      min-height: 100px;
      max-width: 100%;
    }
  }
  .btn-modal-dr {
    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .dropdown {
      .dropbtn {
        background-color: $blue-1;
        height: 100%;
        display: block;
        width: 30px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $black-3;
        @include breakpoint(mobile) {
          border-left: none;
          padding-left: 10px;
          margin-left: 10px;
          width: auto;
        }
        i {
          color: $white;
          font-size: 18px;
          &.fa-angle-up {
            display: none;
          }
        }
        &.active {
          i {
            &.fa-angle-up {
              display: block;
            }
            &.fa-angle-down {
              display: none;
            }
          }
        }
      }
    }
  }
}
