@import "./_variables";
@import "./_mixin";

.clearfix {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

*:hover,
*:visited,
*:active,
*:focus {
  outline: none !important;
}

html,
body {
  height: 100%;
  @include breakpoint(mobile) {
    height: auto;
  }
}
body {
  background-color: $grey-2;
  @include breakpoint(mobile) {
    padding-bottom: 70px;
    padding-top: 55px;
    &.fixed,
    &.fixed-md {
      position: fixed;
      left: 0;
      right: 0;
    }
  }
}
@include breakpoint(tablet) {
  .scroll {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-color: #98a1b1 #fff;
    scrollbar-width: thin;
    &.overflowx-auto {
      overflow-x: auto !important;
    }
    @include scrollbars(0.5em, $grey-7);
  }
}

.h-100 {
  height: 100%;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.w-100 {
  width: 100%;
}
.w-120 {
  width: 120px;
}
@include breakpoint(mobile) {
  .scroll-sp {
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbars(0.5em, $grey-7);
    height: calc(100% - 55px);
    -webkit-overflow-scrolling: touch;
  }
}
.page-container {
  padding-top: 55px;
  @include transition(0.2s);
  @include breakpoint(desktop) {
    padding-left: 254px !important;
  }
  @include breakpoint(tablet) {
    padding-left: 64px;
  }
  @include breakpoint(mobile) {
    padding-left: 0;
    padding-top: 0;
  }
}
.is-collapsed {
  .page-container {
    padding-left: 64px !important;
  }
  @include breakpoint(mobile) {
    .page-container {
      padding-left: 0 !important;
    }
  }
}
.main-content {
  padding: 0 20px;
  @include breakpoint(mobile) {
    padding: 0 15px;
  }
}
.white-box {
  background: $white;
  padding: 20px;
  color: $black-3;
  border-radius: 5px;
  height: 100%;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(173, 166, 173, 0.21);
  -moz-box-shadow: 0px 2px 3px 0px rgba(173, 166, 173, 0.21);
  box-shadow: 0px 2px 3px 0px rgba(173, 166, 173, 0.21);
  p {
    font-weight: normal;
  }
}
.widget {
  position: relative;
  &:hover {
    .widget-action {
      opacity: 1;
      visibility: visible;
    }
  }
  &-action {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.3s);
    a {
      margin-left: 20px;
      font-size: 16px;
      color: $grey-7;
    }
    @include breakpoint(mobile) {
      opacity: 1;
      visibility: visible;
    }
  }
}
.blue-box {
  @extend .white-box;
  background-color: $blue-1;
}
.notifi-num {
  color: $white;
  background-color: $red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.circle-bl {
  border-radius: 50%;
  background-color: $grey-6;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.visible-set {
  visibility: visible;
}

.visible-unset {
  visibility: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 15px;
  & > div {
    text-align: left;
  }
  &.gc-30 {
    grid-column-gap: 30px;
  }
  &.group-btn-filter {
    .btn {
      justify-self: center;
      width: calc(100%);
    }
  }
}

.react-datepicker-time__input {
  input {
    padding: 5px !important;
    text-align: center !important;
    width: auto !important;
  }
}

.w-24 {
  width: 24px;
  span {
    width: 100% !important;
    height: 100% !important;
  }
}
.mh-50 {
  min-height: 50vh;
}

.txt-decoration {
  text-decoration: line-through;
}
.transparent {
  background: transparent !important;
}
@media (max-width: 766px) {
  .sp-red {
    color: #f03d3d !important;
  }
  .sp-mr-1 {
    margin-left: 5px;
  }
  .dropdown-content.sp-full.show {
    z-index: 9999 !important;
  }
}

@media (min-width: 766px) {
  .sp-ml-4 {
    margin-left: 20px !important;
  }
}

.pl-tags {
  padding-left: 32px !important;
}
@for $i from 0 through 10 {
  .lineclamp-#{$i} {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.w-30 {
  width: 30px !important;
  height: 30px !important;
  img {
    width: 100% !important;
    height: 100% !important;
  }
  span {
    width: 100% !important;
    height: 100% !important;
  }
}

.progress-bar {
  @media screen and (min-width: 767px) {
    &.none-bg-img {
      background-image: none !important;
    }
  }
}

.btn-disable {
  color: #e1e4e8;
  background: #b3b7c3;
  border: #b3b7c3;
  &:hover {
    color: #e1e4e8;
    background: #b3b7c3;
    border: #b3b7c3;
    cursor: not-allowed;
  }
  @media screen and (max-width: 767px) {
    &.none-bg-img {
      span {
        background: #fff !important;
      }
    }
  }
}

.dropbtn {
  cursor: pointer;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.fw-300 {
  font-weight: 300 !important;
  &.titleDrive {
    color: #fff !important;
    @media screen and (min-width: 767px) {
      color: #b5b8c0 !important;
    }
  }
}
.page-container {
  @media screen and (max-width: 766px) {
    margin-bottom: 76px !important;
  }
}
.react-datepicker-popper {
  z-index: 99;
}

.mobile-scroll-modal {
  @media screen and (max-width: 766px) {
    padding-bottom: 76px !important;
  }
}

.table-row {
  &.d-flex {
    display: flex;
    padding: 0 20px;
    border-bottom: 1px solid #e1e4e8;
    .table-head {
      border-bottom: 0 !important;
      &:first-child {
        padding-left: 0 !important;
      }
    }
  }
}

.bor-0 {
  border: 0 !important;
}

.d-none {
  display: none !important;
}

.bg-trans {
  background: transparent !important ;
}

.text {
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
  &-center {
    text-align: center !important;
  }
}

.wrapper-panel-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  left: 0;
  padding: 15px;
}

.icon-empty-list {
  width: 60px !important;
  height: 60px !important;
}

.nav-link {
  &.disabled {
    opacity: 0.3;
  }
}

.p-pc-2 {
  @media screen and (min-width: 768px) {
    padding: 10px !important;
  }
}
