@import "./_variables";
@import "./_mixin";

.sp-row-15 {
  margin-left: -15px;
  margin-right: -15px;
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@mixin col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include col;
    flex: 0 0 ($i * 100%)/12;
    max-width: ($i * 100%)/12;
  }
}
@include breakpoint(mobile) {
  @for $i from 1 through 12 {
    .col-sp-#{$i} {
      @include col;
      flex: 0 0 ($i * 100%)/12;
      max-width: ($i * 100%)/12;
    }
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col {
  @include col;
}

@include breakpoint(mobile) {
  @for $i from 1 through 12 {
    .order-sp-#{$i} {
      order: $i;
    }
  }
}

@for $i from 1 through 12 {
  .order-#{$i} {
    order: $i;
  }
}

@media (min-width: 575px) {
  .col-575-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .col-767-43 {
    -ms-flex: 0 0 43%;
    flex: 0 0 43%;
    max-width: 43%;
  }
  .col-767-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-767-57 {
    -ms-flex: 0 0 57%;
    flex: 0 0 57%;
    max-width: 57%;
  }
}
@media (min-width: 992px) {
  .col-991-43 {
    -ms-flex: 0 0 43%;
    flex: 0 0 43%;
    max-width: 43%;
  }
  .col-991-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-991-57 {
    -ms-flex: 0 0 57%;
    flex: 0 0 57%;
    max-width: 57%;
  }
}
@media (min-width: 1025px) {
  .col-1024-43 {
    -ms-flex: 0 0 43%;
    flex: 0 0 43%;
    max-width: 43%;
  }
  .col-1024-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-1024-57 {
    -ms-flex: 0 0 57%;
    flex: 0 0 57%;
    max-width: 57%;
  }
}

div.col-following {
  display: grid !important;
  grid-template-columns: 50% 50% !important;
  @media screen and (max-width: 900px) {
    display: flex !important;
    i.mr-2 {
      margin-right: 10px !important;
    }
    .mr-2 {
      margin-right: 0 !important;
    }
  }
}
