@import "./_variables";
@import "./_mixin";

@include breakpoint(desktop) {
  .is-collapsed {
    .header {
      left: 64px !important;
    }
  }
}
.header {
  background-color: $blue-1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  @include transition(0.2s);
  @include breakpoint(desktop) {
    left: 254px !important;
  }
  @include breakpoint(tablet) {
    left: 64px;
  }
  @include breakpoint(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &.active {
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }
  }
  .circle-hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active,
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
  &-left {
    flex: 0 0 40%;
    margin-right: 30px;
    max-width: 540px;

    @media (max-width: 1024px) {
      flex: 0 0 400px;
    }
    @media (max-width: 991px) {
      flex: 0 0 220px;
      margin-right: 15px;
    }

    .search {
      form {
        color: $white;
        input {
          border: 1px solid transparent;
          background: transparent;
          width: 100%;
          height: 40px;
          @include transition(0.3s);
          @include placeholder() {
            color: $white !important;
          }
          &:hover {
            background: $white;
            // border: 1px solid $black-3;
            cursor: pointer;
            @include placeholder() {
              color: $black-1 !important;
            }
            + i {
              color: $black-1;
            }
          }
        }
        i {
          @include transition(0.3s);
        }
      }
      @include breakpoint(mobile) {
        &-sp {
          order: 2;
        }
      }
      &-close {
        padding: 6px 0;
      }
    }
  }
  &-right {
    i {
      cursor: pointer;
    }
    @media (max-width: 1024px) {
      > * {
        margin: 0 0 0 15px !important;
      }
    }
    @media (max-width: 900px) {
      > * {
        margin: 0 0 0 5px !important;
      }
    }
    @include breakpoint(mobile) {
      flex: 1 0;
      > * {
        margin: 0 !important;
      }
    }
  }
  &-container {
    padding: 7px 20px;
    box-sizing: border-box;
    @include breakpoint(mobile) {
      padding: 7.5px 15px;
    }
  }

  .free-date {
    p {
      opacity: 0.8;
    }
    .progress-bar {
      width: 120px;
    }
  }

  .btn-green {
    min-height: 32px;
    padding: 6px 10px;
  }
  .add {
    border: 8px solid $blue-1;
    box-sizing: unset;
    &.active,
    &:hover {
      border: 8px solid #3a84d2;
    }
  }
  .user {
    @include breakpoint(mobile) {
      order: 1;
      flex: 1 0;
      margin: 0 !important;
      .dropdown {
        vertical-align: bottom;
        &-content {
          background: $grey-2;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            pointer-events: none;
          }
          .nav {
            background: $white;
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
            &::after {
              display: none;
            }
          }
        }
      }
    }
    &-avatar {
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      .circle-bl {
        width: 32px !important;
        height: 32px !important;
      }
      @include breakpoint(tablet) {
        border: 4px solid transparent;

        &.active,
        &:hover {
          border: 4px solid #3a84d2;
        }
      }
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        pointer-events: none;
        @include breakpoint(mobile) {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  .notification-head {
    margin-right: 20px;
    @include breakpoint(mobile) {
      order: 4;
    }
    .dropbtn {
      &.active,
      &:hover {
        color: $white !important;
      }
    }
    .check-all {
      cursor: pointer;
      width: 20px;
      height: 20px;
      background-color: $white;
      mask: url("../../images/blue.svg") no-repeat center / contain;
    }
    .fa-bell {
      font-size: 23px;
      color: $white;
      cursor: pointer;
      position: relative;
      @include breakpoint(mobile) {
        font-size: 21px;
      }
      .notifi-num {
        font-size: 12px;
        font-family: $font-family-sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        font-weight: normal;
        pointer-events: none;
        @include breakpoint(mobile) {
          font-size: 11px;
          width: 18px;
          height: 18px;
        }
      }
      &.active,
      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    &-list {
      max-height: 400px;
      @include breakpoint(mobile) {
        max-height: unset;
      }
      .nav-link {
        align-items: flex-start;
        padding: 10px 45px 10px 15px;
        @include breakpoint(mobile) {
          padding: 10px 25px 10px 15px;
        }

        span {
          white-space: unset !important;
          &.time {
            display: block;
            padding: 0;
            color: $grey-7;
            font-size: 12px;
            margin-top: 5px;
          }
        }
        &.unread {
          span {
            opacity: 0.6;
          }
        }
      }
    }
    .nav-item {
      &:hover {
        .dropbtn.action-btn {
          visibility: visible !important;
          color: #333 !important;
        }
      }
    }
    > .dropdown {
      > .dropdown-content {
        width: 460px;
        @include breakpoint(mobile) {
          width: auto;
        }
        .nav {
          &::after {
            display: none;
          }
        }
      }
    }
    .sub-dropdown {
      position: absolute;
      right: 10px;
      top: 15px;
      @include breakpoint(mobile) {
        right: 0;
      }
      > span {
        padding: 0 13px;
        text-align: center;
        cursor: pointer;
        display: block;
        @include breakpoint(mobile) {
          padding: 0 8px;
          color: $grey-7;
          &.active {
            color: $blue-1;
          }
        }
      }
      .dropbtn.action-btn {
        visibility: hidden !important;
        &:hover {
          color: $blue-1 !important;
        }
      }
      .dropdown-content {
        width: 167px;
        z-index: 2;
        @include breakpoint(mobile) {
          position: absolute !important;
          background: $white;
          -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          right: 10px;
          top: calc(100% + 5px);
          left: auto;
          bottom: auto;
          &.show {
            opacity: 1;
            visibility: visible;
          }
        }
        .nav-link {
          padding: 10px 5px;
          border: none;
          span {
            padding-left: 5px;
          }
        }
      }
    }

    &-tick {
      border-bottom: 1px solid $grey-6;
      .mark-all-read {
        font-weight: 500;
        line-height: 24px;
        font-size: 13px;
      }
      i {
        font-size: 17px;
        color: $grey-5;
      }
      > span {
        font-size: 16px;
        color: $black-3;
        line-height: 24px;
        font-weight: bold;
      }
      a {
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
  .extend {
    @include breakpoint(mobile) {
      order: 3;
    }
  }
  .search-sp {
    order: 2;
    .scroll-sp {
      height: calc(100% - 55px);
    }
    .dropdown-content {
      background: $grey-2;
    }
    .nav {
      background: $white;
      -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
      &::after {
        display: none;
      }
      &-link {
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          display: block;
          padding-right: 15px;
        }
      }
    }
    .search {
      form {
        input {
          width: 100%;
          padding-left: 15px;
          height: 35px;
          border: none;
        }
      }
    }
  }
}

.head-white {
  &__progress {
    max-width: 510px;
    .progress {
      > div {
        max-width: 270px;
      }
    }
    .fa-bookmark {
      font-size: 16px;
    }
  }
}
