@import "./_variables";
@import "./_mixin";

@include breakpoint(desktop) {
  // a tag hover
  .hover-1 {
    > .nav-item {
      > .nav-link {
        &:hover {
          border-left: 4px solid $blue-1;
          background: $blue-3;
          > i {
            color: $blue-1;
          }
        }
      }
    }
  }
  .hover-2 {
    > .nav-item {
      > .nav-link {
        &:hover {
          background-color: $grey-6;
        }
      }
    }
  }
  .hover-3 {
    > .nav-item {
      > .nav-link {
        &:hover {
          background-color: $grey-8;
        }
      }
    }
  }
  .hover-4 {
    > .nav-item {
      > .nav-link {
        &:hover {
          font-weight: bold;
          color: $blue-1;
        }
      }
    }
  }
  // li tag hover
  .hover-li {
    > .nav-item {
      &:hover {
        > .nav-link {
          border-left: 4px solid $blue-1;
          background: $grey-8;
          > i {
            color: $blue-1;
          }
        }
      }
    }
  }
}

.hover-4 {
  > .nav-item {
    > .nav-link {
      &.selected {
        font-weight: bold;
        color: $blue-1;
      }
    }
  }
}
.hover-5 {
  &:hover {
    background-color: $grey-10 !important;
  }
}

.hover-6 {
  > .nav-item {
    > .nav-link {
      &:hover {
        background-color: $grey-8 !important;
      }
      &.selected {
        color: $blue-1;
        font-weight: bold;
        background-color: $blue-3 !important;
        i {
          color: $blue-1;
        }
      }
    }
  }
}
