.list{
    padding: 0;
    &-blue{
        li{
            list-style: none;
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &::before{
                content: '';
                height: 5px;
                width: 5px;
                background-color: $blue-1;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 7px;
            }
        }
    }
}