@import "./_variables";
@import "./_mixin";

.media {
  align-items: center;
  &-center {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }
  &-img {
    flex: 0 0 100px;
    img {
      width: 100%;
      height: 100%;
    }
    .circle-bl {
      width: 100px;
      height: 100px;
      font-size: 2rem;
    }
  }

  @include breakpoint(mobile) {
    &-body {
      width: 100%;
      text-align: center;
    }
    &-upload {
      button {
        margin: 0 auto;
      }
    }
  }
}
