@import "./_variables";
@import "./_mixin";

.msg {
  &-success {
    background: rgba(46, 204, 103, 0.1);
    font-size: 12px;
    font-weight: normal;
    padding: 10px 15px;
  }
  &-icon {
    padding-left: 30px;
    position: relative;
    .ico {
      left: 10px;
      position: absolute;
      top: 10px;
      &:before {
        color: $green-2;
        font-size: 15px;
      }
    }
  }
}
