@import "./_mixin";
@import "./_variables";

.modal {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  visibility: visible;
  right: 0;
  top: 0;
  z-index: 999999;
  @include transition(0.3s);
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &.open {
    height: auto;
    opacity: 1;
  }
  &-head {
    border-bottom: 1px solid $grey-6;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px 15px 15px;
    position: relative;
    .btn-close {
      top: 50% !important;
      line-height: 1;
      right: 20px;
      @include transform(translateY(-50%));
    }
  }
  &-body {
    padding: 20px;
  }
  &-footer {
    button {
      &[type="reset"] {
        background-color: transparent;
      }
    }
  }
  .modal-wrap {
    @include centeritem;
    min-height: calc(100% - 3.5rem);
  }
  .modal-content {
    background: $white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    width: 716px;
    @include breakpoint(tablet) {
      max-height: 100%;
    }
  }
  .btn-close {
    background: none;
    border: none;
    color: $grey-1;
    font-size: 24px;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    .fa-arrow-left {
      display: none;
    }
  }
  &.mb-modal {
    .btn-close {
      .fa-arrow-left {
        display: none;
      }
    }
  }
  @include breakpoint(mobile) {
    .modal-content {
      width: auto;
      padding: 15px;
    }
    &.mb-modal {
      background: $white;
      .modal-wrap {
        display: block;
      }
      .btn-close {
        position: relative;
        right: auto;
        top: auto;
        .fa-times {
          display: none;
        }
        .fa-arrow-left {
          display: block;
        }
      }
    }
  }

  &-full {
    @include breakpoint(mobile) {
      display: block !important;
      .modal-content {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0;
      }
    }
  }
  &-calendar {
    background: none;
    left: auto;
    top: auto;
    bottom: auto;
    -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    .modal-head {
      border: none;
    }
    @include breakpoint(desktop) {
      max-width: 446px;
    }
    @media (max-width: 1025px) {
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      background: rgba(0, 0, 0, 0.7) !important;
      .modal-content {
        max-width: 446px;
        &.scroll-sp {
          max-height: calc(100% - 55px);
          height: auto !important;
        }
      }
    }
  }
}
#account-setting {
  .modal {
    &-content {
      border-radius: 0;
      max-width: 781px;
      width: 100%;
    }
    &-head {
      border-bottom: none;
    }
    &-body {
      .tabs {
        overflow-y: auto;
        &-item {
          width: auto;
          padding: 0 25px 10px;
          border-bottom: 3px solid transparent;
          border-top: none;
          @include breakpoint(mobile) {
            text-overflow: unset;
            padding: 0 15px 10px;
            overflow: unset;
          }
          &.active {
            border-top: none;
            border-bottom: 3px solid $blue-1;
            color: $blue-1;
          }
        }
      }
    }
  }
  #profile {
    &-email {
      select {
        max-width: 410px;
      }
    }
    &-setting {
      .panel {
        max-width: 421px;
      }
    }
  }
}
#modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999998;
  @media (max-width: 1025px) {
    display: none;
  }
}
