.border-0 {
  border: none !important;
}

@include breakpoint(tablet) {
  .border-top {
    border-top: 1px solid $grey-6 !important;
  }
}

.nav {
  margin: 0;
  border-bottom: 1px solid $grey-6;

  &.load-more {
    .nav-link {
      width: 100% !important;

      span {
        font-size: 12px;
        color: $grey-7;
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }

  &-project {
    .relative {
      position: relative;
    }

    .add {
      position: absolute;
      top: 13px;
      right: 21px;
    }

    .sub-nav {
      .scroll {
        max-height: calc(39px * 5);
      }

      .add-project {
        display: none;
      }
    }

    .nav-link {
      span {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }

  &-item {
    list-style: none;
    position: relative;

    &.dropdown {
      cursor: pointer;
      display: block;

      .sub-nav {
        position: relative;
        overflow: hidden;
        height: 0;

        @include transitions(height 0.35s ease);

        &::after {
          content: "";
          display: block;
          height: 1px;
          background: $grey-6;
          position: absolute;
          top: 0;
          left: 20px;
          right: 20px;
        }

        .nav-link {
          width: 100%;

          // border-bottom: 1px solid $grey-6;
        }
      }

      div > .nav-link {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        padding-bottom: 15px;

        .fa-angle-up {
          display: none;
        }

        &.collapsed {
          border-left: 4px solid transparent;
          background: $grey-8;

          .fa-angle-up {
            display: block;
          }

          .fa-angle-down {
            display: none;
          }
        }

        &.has-submenu {
          * {
            pointer-events: none;
          }
        }
      }
    }

    .nav {
      border: none;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    color: $black-3;
    font-size: 14px;
    border-left: 4px solid transparent;
    background: $white;
    padding: 10px 0 10px 12px;
    font-weight: normal;
    width: 254px;
    box-sizing: border-box;

    &:hover {
      color: $black-3;
    }

    @include transition(0.2s);

    span {
      white-space: nowrap;
      padding-left: 5px;
    }

    > i,
    > div i {
      font-size: 20px;
      flex: 0 0 32px;
      text-align: center;
    }

    &:not(.nav-dot) {
      > i,
      > div i {
        color: $grey-5;
      }
    }

    &.active {
      border-left: 4px solid $blue-1;
      background: $blue-3;
      font-weight: bold;
      border-radius: 0;

      i {
        color: $blue-1;
      }
    }
  }

  &-dot {
    i {
      font-size: 12px;
    }
  }
}

.nav-sp {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  z-index: 999;
  -webkit-box-shadow: 0px -1px 3px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -1px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 3px -1px rgba(0, 0, 0, 0.3);

  .col {
    padding: 0 5px !important;
    list-style: none;
  }

  .add-btn {
    a {
      display: flex;
      width: 39px;
      height: 39px;
      margin: 11px auto 0;
      -webkit-box-shadow: 0px 0px 11px 0px rgba(231, 166, 26, 0.48);
      -moz-box-shadow: 0px 0px 11px 0px rgba(231, 166, 26, 0.48);
      box-shadow: 0px 0px 11px 0px rgba(231, 166, 26, 0.48);

      i {
        font-size: 24px !important;
      }
    }
  }

  a {
    color: $grey-7;
    text-align: center;
    display: block;
    padding: 10px 0;

    &.active {
      color: $blue-1;
    }

    span {
      display: block;
      font-size: 10px;
      margin-top: 5px;
    }

    i {
      font-size: 22px;
    }
  }
}

.nav-2 {
  margin: 0;
  padding: 0;

  @include breakpoint(mobile) {
    overflow-x: auto;
    max-width: 100%;
    border-right: 25px solid $blue-1;
  }

  li {
    list-style: none;

    @include breakpoint(tablet) {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $black-3;
        font-weight: 500;
        border-radius: 3px;
        padding: 6px 20px;
        display: block;
        white-space: nowrap;

        &.active {
          background-color: $grey-2;
          color: $blue-1;
          font-weight: 700;
        }

        span {
          font-size: 11px;
          display: inline-block;
          background-color: #d9dbdf;
          border-radius: 3px;
          padding: 0px 3px;
          height: 16px;
          line-height: 16px;
          margin-left: 5px;
          text-align: center;
        }
      }
    }

    @include breakpoint(mobile) {
      a {
        background-color: transparent;
        color: $white;
        font-size: 14px;
        opacity: 0.7;
        padding: 20px 15px;
        display: block;
        font-weight: 500;
        position: relative;
        white-space: nowrap;

        &.active {
          opacity: 1;

          &::after {
            content: "";
            height: 3px;
            background-color: $white;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

.nav-project-detail {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    @include breakpoint(mobile) {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:first-child {
      a {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &:last-child {
      a {
        border-right: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    a {
      display: flex;
      align-items: center;
      background-color: $white;
      padding: 8px 15px;
      color: $black-3;
      font-size: 13px;
      border-right: 1px solid $grey-2;

      i {
        font-size: 18px;
        margin-right: 8px;

        @include breakpoint(mobile) {
          margin-right: 0;
        }
      }

      &.active {
        background-color: $blue-1;
        color: $white;
      }

      @include breakpoint(mobile) {
        border-radius: 5px;
        padding: 5px;
        border-right: none;

        span {
          display: none;
        }
      }
    }
  }
}
