@import "./_mixin";
@import "./_variables";

.single-chart {
  height: 75px;
  overflow: hidden;
  position: relative;
  @include breakpoint(mobile) {
    height: 60px;
  }
  .result-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: $grey-7;
    font-weight: normal;
    @include breakpoint(mobile) {
      bottom: 3px;
    }
  }
  .percent-text {
    position: absolute;
    color: $black-3;
    top: 25px;
    left: 50%;
    @include transform(translateX(-50%));
    font-size: 21px;
    font-family: $font-family-sans-serif;
    @include breakpoint(mobile) {
      font-size: 16px;
      top: 20px;
    }
  }
}
.circular-chart {
  display: block;
  max-width: 90px;
  width: 90px;
  @include transform(rotate(-90deg));
  .circle-bg {
    fill: none;
    stroke: $grey-6;
    stroke-width: 3.8;
    stroke-linecap: round;
  }
  .circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    @include animation(progress 1s ease-out forwards);
  }
  .percentage {
    fill: $black-3;
    font-family: sans-serif;
    font-size: 0.6em;
    text-anchor: middle;
    font-family: $font-family-sans-serif;
    @include transform(rotate(90deg));
    @include transform-origin(18px 19px);
    @include breakpoint(mobile) {
      font-size: 0.5em;
      @include transform-origin(20px 21px);
    }
  }
  // &.orange{
  //     .circle {
  //         stroke: #ff9f00;
  //     }
  // }
  // &.blue{
  //     .circle {
  //         stroke: #ff9f00;
  //     }
  // }
  // &.green{
  //     .circle {
  //         stroke: #ff9f00;
  //     }
  // }
}

.progress {
  &.full {
    max-width: 100% !important;
  }
  &-edit {
    cursor: pointer;
  }
  &-value {
    display: none;
    &.show {
      display: block;
    }
    .dropdown-content {
      left: 0;
      max-height: 200px;
    }
  }
}

.progress-bar {
  @include breakpoint(tablet) {
    min-width: 100px;
    height: 4px;
    border-radius: 4px;
  }
  @for $x from 0 through 100 {
    &.per-#{$x} {
      span {
        width: ($x * 1%);
      }
    }
  }
  @include breakpoint(mobile) {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $grey-6;
    @for $i from 0 through 100 {
      &.per-#{$i} {
        @if $i < 50 {
          $nextdeg: 90deg + (3.6 * $i);
          background-image: linear-gradient(
              90deg,
              $grey-6 50%,
              transparent 50%,
              transparent
            ),
            linear-gradient($nextdeg, $green-4 50%, $grey-6 50%, $grey-6);
        } @else {
          $nextdeg: -90deg + (3.6 * ($i - 50));
          background-image: linear-gradient(
              $nextdeg,
              $green-4 50%,
              transparent 50%,
              transparent
            ),
            linear-gradient(270deg, $green-4 50%, $grey-6 50%, $grey-6);
        }
      }
    }
  }

  span {
    @include breakpoint(tablet) {
      height: 4px;
      border-radius: 4px;
      display: block;
      text-indent: -9999px;
    }
    @include breakpoint(mobile) {
      width: 42px !important;
      height: 42px !important;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include breakpoint(tablet) {
    &.--green {
      background-color: $grey-6;
      span {
        background-color: $green-4;
      }
    }
    &.--white {
      background-color: $blue-6;
      span {
        background-color: $grey-6;
      }
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
