@media (min-width: 426px) {
  .show-425 {
    display: none !important;
  }
}
@media (max-width: 425px) {
  .hide-425 {
    display: none !important;
  }
  .show-425 {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .show-767 {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hide-767 {
    display: none !important;
  }
  .show-767 {
    display: block !important;
  }
}
