@import "./mixin";
@import "./_variables";

@include breakpoint(mobile) {
  .active {
    .sidebar {
      opacity: 1;
      visibility: visible;
    }
  }
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 254px;
  background: $white;
  z-index: 1000;
  -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
  @include transition(0.2s);
  @include breakpoint(mobile) {
    top: 55px;
    bottom: 62px;
    width: 100%;
    background: $grey-2;
    opacity: 0;
    visibility: hidden;
    .sidebar-nav {
      width: 100%;
      border: none !important;
      .nav {
        background: $white;
        border: none;
        margin-bottom: 10px;
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
        &-link {
          width: 100%;
        }
      }
    }
  }
  &-inner {
    height: 100%;
    position: relative;
  }
  &-logo {
    padding: 18px 22px 18px 90px;
    position: relative;
    width: 254px;
    height: 76px;
    img {
      width: 70px;
      margin: 0 auto;
    }
  }
  &-toggle {
    position: absolute;
    left: 22px;
    top: 50%;
    cursor: pointer;
    color: $grey-5;
    @include transform(translateY(-50%));
    &:hover {
      color: $blue-1;
    }

    i {
      font-size: 22px;
    }
  }

  &-nav {
    width: 254px;
    @include transition(0.2s);
    // @include breakpoint(tablet){
    //     &.scroll {
    //         height: calc(100% - 296px);
    //         overflow-y: auto;
    //         overflow-x: hidden;
    //         @include scrollbars(0, $white);
    //     }
    // }
  }

  &-version {
    @include breakpoint(tablet) {
      background: $white;
      padding: 30px 22px;
    }
    .version {
      font-size: 12px;
      color: $grey-7;
      white-space: nowrap;
    }
    .update {
      font-size: 12px;
      color: $black-3;
      border-bottom: 1px dotted $black-3;
      white-space: nowrap;
    }
    i,
    .update-collapsed {
      display: none;
    }
  }
  .grid-1 {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

.is-collapsed {
  .hide-conllapsed {
    display: none !important;
  }

  .sidebar {
    width: 64px;
    &-logo {
      width: 64px;
      img {
        opacity: 0;
        visibility: hidden;
      }
    }
    &-nav {
      width: 64px;
      // &.scroll {
      //     height: calc(100% - 289px);
      // }
      > .nav {
        &.nav-report,
        &.nav-project {
          padding-bottom: 0 !important;
        }
        &.nav-project {
          .dropdown {
            > div {
              .nav-link {
                border-left: none;
              }
            }
          }
        }
        > .nav-item {
          > .nav-link,
          > div > .nav-link {
            width: 64px;
            > span {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
        .dropdown {
          .sub-nav {
            position: fixed;
            left: -200%;
          }
          > div > .nav-link {
            padding-left: 0 !important;
            padding-right: 0 !important;
            display: block;
            text-align: center;

            span {
              padding-left: 0;
              font-size: 10px;
            }
            > .d-flex {
              display: block !important;
            }
            &::after {
              display: none;
            }
          }

          .add {
            top: 35px;
          }
        }
      }
    }

    .sidebar-version {
      flex-flow: column;
      padding: 15px 0;
      .update-collapsed {
        font-size: 9px;
        color: $black-3;
        text-align: center;
        display: block;
        position: relative;
        i {
          font-size: 23px;
          color: $grey-5;
          display: block;
          margin: 0 auto 8px;
        }
        .notifi-num {
          position: absolute;
          top: -15px;
          right: -3px;
        }
      }
    }
  }

  .sub-nav {
    height: auto;
    position: fixed;
    left: 64px;
    min-width: 167px;
    border: 1px solid $grey-6;
    background: $white;
    -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    ul {
      margin: 0;
    }
    .nav-link {
      width: 100% !important;
      border: none;
      padding: 10px 20px 10px 10px;
      i {
        flex: 0 0 auto;
      }
      .empty-icon {
        font-size: 14px !important;
        margin-left: 5px !important;
      }
    }
    .load-more {
      border: none;
    }
  }

  .add-project {
    display: block;
    li {
      list-style: none;
      a {
        padding: 14px 10px;
        color: $blue-1;
        background-color: $white;
        border-bottom: 1px solid $grey-6;
        span {
          font-size: 13px;
        }
      }
    }
  }
}

#sub-nav-collapsed {
  display: none;
  @media screen and(max-width: 767px) {
    display: none !important;
  }
  &:hover {
    display: block;
  }
}

.dashboard.is-collapsed {
  .nav-featured {
    &:hover + #sub-nav-collapsed {
      display: block;
    }
  }
}
