.mg-auto {
  margin-left: auto;
  margin-right: auto;
}

/* ml - margin left */
.ml {
  &-5 {
    margin-left: 5px;
  }
  &-10 {
    margin-left: 10px;
  }
  &-15 {
    margin-left: 15px;
  }
  &-20 {
    margin-left: 20px;
  }
  &-25 {
    margin-left: 25px;
  }
  &-30 {
    margin-left: 30px;
  }
  &-50 {
    margin-left: 50px;
  }
}

/* mr - margin right */
.mr {
  &-haft {
    &-3 {
      margin-right: 3.5px;
    }
  }
  &-8 {
    margin-right: 40px !important;
  }
  &-5 {
    margin-right: 5px;
  }
  &-10 {
    margin-right: 10px;
  }
  &-15 {
    margin-right: 15px;
  }
  &-20 {
    margin-right: 20px;
  }
  &-25 {
    margin-right: 25px;
  }
  &-30 {
    margin-right: 30px;
  }
  &-50 {
    margin-right: 50px;
  }
}

/* mt - margin top */
.mt {
  &-5 {
    margin-top: 5px;
  }
  &-10 {
    margin-top: 10px;
  }
  &-15 {
    margin-top: 15px;
  }
  &-20 {
    margin-top: 20px;
  }
  &-25 {
    margin-top: 25px;
  }
  &-30 {
    margin-top: 30px;
  }
  &-50 {
    margin-top: 50px;
  }
}

/* mb - margin bottom */
.mb {
  &-5 {
    margin-bottom: 5px;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-15 {
    margin-bottom: 15px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-30 {
    margin-bottom: 30px;
  }
  &-50 {
    margin-bottom: 50px;
  }
}

@for $i from 0 through 15 {
  .p-#{$i} {
    padding: 5px * $i !important;
  }
  .px-#{$i} {
    padding-left: 5px * $i !important;
    padding-right: 5px * $i !important;
    &.pl-0 {
      padding-left: 0 !important;
    }
  }
  .py-#{$i} {
    padding-top: 5px * $i !important;
    padding-bottom: 5px * $i !important;
  }
  .pt-#{$i} {
    padding-top: 5px * $i !important;
  }
  .pb-#{$i} {
    padding-bottom: 5px * $i !important;
  }
  .pl-#{$i} {
    padding-left: 5px * $i !important;
  }
  .pr-#{$i} {
    padding-right: 5px * $i !important;
  }

  .m-#{$i} {
    margin: 5px * $i !important;
  }
  .mt-#{$i},
  .my-#{$i} {
    margin-top: 5px * $i !important;
  }
  .mb-#{$i},
  .my-#{$i} {
    margin-bottom: 5px * $i !important;
  }
  .ml-#{$i},
  .mx-#{$i} {
    margin-left: 5px * $i !important;
  }
  .mr-#{$i},
  .mx-#{$i} {
    margin-right: 5px * $i !important;
  }

  .m-n#{$i} {
    margin: -5px * $i !important;
  }
  .mt-n#{$i},
  .my-n#{$i} {
    margin-top: -5px * $i !important;
  }
  .mb-n#{$i},
  .my-n#{$i} {
    margin-bottom: -5px * $i !important;
  }
  .ml-n#{$i},
  .mx-n#{$i} {
    margin-left: -5px * $i !important;
  }
  .mr-n#{$i},
  .mx-n#{$i} {
    margin-right: -5px * $i !important;
  }
}

@include breakpoint(mobile) {
  @for $i from 0 through 15 {
    .p-sp-#{$i} {
      padding: 5px * $i !important;
    }
    .px-sp-#{$i} {
      padding-left: 5px * $i !important;
      padding-right: 5px * $i !important;
    }
    .py-sp-#{$i} {
      padding-top: 5px * $i !important;
      padding-bottom: 5px * $i !important;
    }
    .pt-sp-#{$i} {
      padding-top: 5px * $i !important;
    }
    .pb-sp-#{$i} {
      padding-bottom: 5px * $i !important;
    }
    .pl-sp-#{$i} {
      padding-left: 5px * $i !important;
    }
    .pr-sp-#{$i} {
      padding-right: 5px * $i !important;
    }

    .m-sp-#{$i} {
      margin: 5px * $i !important;
    }
    .mt-sp-#{$i},
    .my-sp-#{$i} {
      margin-top: 5px * $i !important;
    }
    .mb-sp-#{$i},
    .my-sp-#{$i} {
      margin-bottom: 5px * $i !important;
    }
    .ml-sp-#{$i},
    .mx-sp-#{$i} {
      margin-left: 5px * $i !important;
    }
    .mr-sp-#{$i},
    .mx-sp-#{$i} {
      margin-right: 5px * $i !important;
    }

    .m-n-sp-#{$i} {
      margin: -5px * $i !important;
    }
    .mt-n-sp-#{$i},
    .my-n-sp-#{$i} {
      margin-top: -5px * $i !important;
    }
    .mb-n-sp-#{$i},
    .my-n-sp-#{$i} {
      margin-bottom: -5px * $i !important;
    }
    .ml-n-sp-#{$i},
    .mx-n-sp-#{$i} {
      margin-left: -5px * $i !important;
    }
    .mr-n-sp-#{$i},
    .mx-n-sp-#{$i} {
      margin-right: -5px * $i !important;
    }
  }
}

.w {
  &-100 {
    width: 100% !important;
  }
}
