@import "./_mixin";
@import "./_variables";

// Table
.table {
  display: table;
  width: 100%;
  @for $i from 1 through 10 {
    .w-#{$i*5} {
      width: $i * 5%;
    }
  }
  &-row {
    display: table-row;
  }
  .text-nowrap {
    white-space: nowrap;
  }
  &-cell {
    display: table-cell;
    font-weight: normal;
    padding: 15px 10px;
    border-bottom: 1px solid $grey-6;
    vertical-align: middle;
    &.w-140 {
      min-width: 140px;
    }
  }
  &-head {
    display: table-cell;
    font-weight: bold;
    color: $grey-7;
    padding: 10px;
    border-bottom: 1px solid $grey-6;
    vertical-align: middle;
    white-space: nowrap;
  }
  .thead {
    display: table-header-group;
  }
  .tbody {
    display: table-row-group;
  }

  &-style-1 {
    .table-head,
    .table-cell {
      border-bottom: none;
      .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 200px;
      }
    }
    @include breakpoint(tablet) {
      .table-cell,
      .table-head {
        position: relative;
        &::after {
          content: "";
          height: 1px;
          background-color: $grey-6;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
        }
        &:first-child {
          &::after {
            left: 20px;
          }
        }
        &:last-child {
          &::after {
            right: 20px;
          }
        }
      }
      .table-cell {
        &:first-child {
          position: relative;
          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 4px;
            top: 12px;
            bottom: 12px;
          }
          .before {
            display: block;
            position: absolute;
            left: 0;
            width: 4px;
            top: 12px;
            bottom: 12px;
          }
          @each $color, $value in $colors {
            &.#{$color}-pr {
              &::before {
                background-color: $value;
              }
            }
          }
        }
      }
    }
    @include breakpoint(mobile) {
      .table-row {
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 4px;
          top: 3px;
          bottom: 5px;
        }
        .before {
          display: block;
          position: absolute;
          left: 0;
          width: 4px;
          top: 12px;
          bottom: 12px;
        }
        @each $color, $value in $colors {
          &.#{$color}-pr {
            &::before {
              background-color: $value;
            }
          }
        }
      }
    }
  }
}
