@import "./_mixin";
@import "./_variables";

.tabs {
  display: flex;
  &-item {
    width: 160px;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include breakpoint(tablet) {
      border-top: 4px solid transparent;
      padding: 10px 15px;
      font-size: 13px;
    }
    @include breakpoint(mobile) {
      padding: 15px;
      border-bottom: 2px solid transparent;
      font-size: 14px;
      flex: 1 0;
    }
    &.active {
      font-weight: bold;
      background-color: $white;
      @include breakpoint(tablet) {
        border-top: 4px solid $blue-1;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      @include breakpoint(mobile) {
        border-bottom: 2px solid $blue-1;
      }
    }
    span {
      font-size: 12px;
      display: inline-block;
      background-color: $tab-item;
      border-radius: 3px;
      padding: 2px 6px;
      margin-left: 5px;
    }
  }
  &-content {
    display: none;
    &.show {
      display: block !important;
    }
  }
}
