@import "./_mixin";
@import "./_variables";

.tags {
  white-space: nowrap;
  max-width: 100%;
  &-overflow {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.none-padding {
    padding-left: 0 !important;
  }
  span {
    font-size: 10px;
    border-radius: 10px;
    color: $white;
    padding: 2px 10px;
    margin-right: 5px;
    white-space: nowrap;
    &.circle-bl {
      color: $black-3;
      width: auto;
      height: auto;
    }
  }
  &-date {
    border-radius: 3px;
    padding: 2px 10px;
    white-space: nowrap;
    @media (max-width: 900px) {
      width: auto;
    }
  }
  &-member {
    display: flex;
    align-items: center;
    background-color: $grey-8;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    &-delete {
      color: $grey-7 !important;
      line-height: 1;
      font-size: 16px !important;
      margin-left: 10px !important;
    }
    span {
      color: $black-3;
      margin: 0;
      padding: 0;
      font-size: 14px;
      margin-left: 10px;
    }
    img {
      width: 32px;
      border-radius: 50%;
    }
  }
}
.star-tick {
  cursor: pointer;
}
.star-wrapper {
  &.active,
  &:hover {
    .fas {
      display: block;
    }
    .fal {
      display: none;
    }
  }
  .fas {
    display: none;
  }
}
