@import "./_mixin";
@import "./_variables";

.text-edit {
  @include breakpoint(mw900) {
    > div {
      &:first-child {
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
    &-arrow {
      display: none;
    }
    .update {
      order: 4;
      width: 100%;
      padding: 0 10px;
    }
  }
  &-action {
    @include breakpoint(mw900) {
      order: 2;
    }
    .accordion-arrow {
      display: none;
      @include breakpoint(mw900) {
        display: block;
        line-height: 1;
      }
    }
  }
  &-field {
    margin-right: 0 !important;
    @include breakpoint(mw900) {
      order: 1;
      flex: 1 0;
    }
    input {
      width: 100%;
      text-overflow: ellipsis;
    }
    > p {
      display: none;
      span {
        word-break: break-word;
      }
    }
    &.disabled {
      margin-right: 10px !important;
      > p {
        display: block;
      }
      input {
        display: none;
      }
    }
  }
  &-btn {
    display: none;
    button {
      width: 87px;
    }
    @media (max-width: 900px) {
      padding: 10px 0 0 !important;
    }
  }
}
