@import "./_mixin";
@import "./_variables";

.title {
  &-1 {
    color: $black-3;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin: 25px 0 10px;
    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
}
