@import "./_mixin";
@import "./_variables";

// tool tip hover
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;

  &:hover {
    &::before,
    &::after {
      visibility: visible;
      opacity: 1;
      display: block;
      @media screen and (max-width: 766px) {
        display: none;
      }
    }
  }
  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none;
  }
  &::before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    @include transform(translateX(-50%));
    padding: 7px 10px;
    min-width: 100px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
    color: $white;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
  }
  &::after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
}

// Tool top click

.tooltip {
  position: relative;
  display: inline-block;
  i {
    cursor: pointer;
  }
  &-content {
    position: absolute;
    bottom: 180%;
    left: -18px;
    width: 250px;
    background-color: $black-3;
    color: $white;
    font-size: 12px;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    line-height: 1.33;
    font-weight: normal;
    display: none;
    &.active {
      display: block;
    }
    .close {
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
      i {
        font-size: 18px;
        line-height: 1;
      }
    }
    &::after {
      position: absolute;
      bottom: -5px;
      left: 20px;
      width: 0;
      border-top: 5px solid rgba(0, 0, 0, 0.8);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }
  }
}

.tooltip-avatar {
  padding: 7px 10px;
  min-width: 100px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
}
.tooltip-tags {
  padding: 7px 10px;
  max-width: 500px;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
}
