$white: #fff;

$black-1: #000;
$black-2: #202124;
$black-3: #0a1f44;

$blue-1: #0b66c8;
$blue-2: #1b7ce4;
$blue-3: #f3f7ff;
$blue-4: #18bfff;
$blue-5: #eff7ff;
$blue-6: #8dc1f9;
$blue-7: #3bc8ff;
$blue-8: #1598e5;
$blue-9: #eff4ff;
$blue-10: #07478c;
$blue-11: #0054fe;
$blue-12: #3a3fc9;
$blue-13: #009cfb;
$blue-14: #e2f7ff;

$grey-1: #b5b8c0;
$grey-2: #f0f3f8;
$grey-3: #202124;
$grey-4: #a6aebc;
$grey-5: #a2a7b1;
$grey-6: #e1e4e8;
$grey-7: #98a1b1;
$grey-8: #f4f5f6;
$grey-9: #e7eaee;
$grey-10: #f8f9f9;

$green-1: #1dbf73;
$green-2: #2ecc71;
$green-3: #1abf64;
$green-4: #06d49a;
$green-5: #edf8f2;
$green-6: #0ea050;

$purple: #8b45ff;

$red: #f03d3d;
$red-2: #fff0f0;
$red-3: #ea3333;

$pink: #ff07c2;
$orange: #ff6f00;
$yellow: #ffad0d;
$yellow-2: #ff6f2b;

$body-color: $black-3;

$link-color: $blue-1;
$link-hover-color: $blue-2;

$font-family-sans-serif: "Inter", Arial !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$colors: (
  "white": $white,
  "black-1": $black-1,
  "black-2": $black-2,
  "black-3": $black-3,
  "red": $red,
  "red-2": $red-2,
  "purple": $purple,
  "orange": $orange,
  "yellow": $yellow,
  "pink": $pink,
  "green-1": $green-1,
  "green-2": $green-2,
  "green-3": $green-3,
  "green-4": $green-4,
  "green-5": $green-5,
  "green-6": $green-6,
  "blue-1": $blue-1,
  "blue-2": $blue-2,
  "blue-3": $blue-3,
  "blue-4": $blue-4,
  "blue-5": $blue-5,
  "blue-6": $blue-6,
  "blue-7": $blue-7,
  "blue-8": $blue-8,
  "blue-9": $blue-9,
  "blue-10": $blue-10,
  "blue-11": $blue-11,
  "blue-12": $blue-12,
  "blue-13": $blue-13,
  "grey-1": $grey-1,
  "grey-2": $grey-2,
  "grey-3": $grey-3,
  "grey-4": $grey-4,
  "grey-5": $grey-5,
  "grey-6": $grey-6,
  "grey-7": $grey-7,
  "grey-8": $grey-8,
  "grey-9": $grey-9,
  "grey-10": $grey-10,
);

// tabs color
$tab-item: #d9dbdf;
